<ul class="list-group">
  <li class="list-group-item active">
    <h5>
      <%= "#{t('module_description.module_description_id')}: #{@module_description.full_id}" %>
    </h5>
  </li>
  <li class="list-group-item">
    <p>
      <strong><%= t('module_description.single_title') %>:</strong>
      <%= raw @module_description.description %>

    <p>
      <strong><%= t('misc.filenames') %>:</strong>
      <%= @module_description.get_filenames %>
    <p>
      <strong><%= t('versioning.revision') %>:</strong>
      <%= @module_description.revision %>
    </p>
    <p>
      <strong><%= t('versioning.draft_revision') %>:</strong>
      <%= @module_description.version %>
    </p>
    <p>
      <strong><%= t('versioning.revision_date') %>:</strong>
      <%= @module_description.revision_date %>
    </p>
    <p>
      <strong><%= t('versioning.versionid') %>:</strong>
      <%= @module_description.version %>
    </p>

    <p>
      <strong>Linked <%= Item.item_type_title(@item, :high_level, :plural) %>:</strong><br>
      <% @module_description.high_level_requirements.each do |hlr| %>
        <%= display_full_id(hlr, @item) %><br>
      <% end %>
    </p>

    <p>
      <strong>Linked <%= Item.item_type_title(@item, :low_level, :plural) %>:</strong><br>
      <% @module_description.low_level_requirements.each do |llr| %>
        <%= display_full_id(llr, @item) %><br>
      <% end %>
    </p>

    
    <p>
      <strong>Item:</strong>
      <%= @module_description.item.name %>
    </p>
    
    <p>
      <strong>Project:</strong>
      <%= @module_description.project.name %>
    </p>
  </li>
</ul>

<% unless session[:archives_visible].present? %>
  <%= link_to 'Edit', edit_item_module_description_path(@item, @module_description), class: 'btn btn-default' %>
  <%= link_to 'New Module Description', new_item_module_description_path(@item),  class: "btn btn-primary", style: "color:white" %>
<% end %>

<%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)', class: 'btn' %>

<% if @undo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Undo', @undo_path, class: 'btn btn-default', title: @undo_message %>
<% end %>

<% if @redo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Redo', @redo_path, class: 'btn btn-default', title: @redo_message %>
<% end %>

<%
    if @module_description_ids.present?
      current_index = @module_description_ids.find_index(@module_description.id)
      previous_id   = @module_description_ids[current_index - 1] if current_index > 0
      next_id       = @module_description_ids[current_index + 1] if current_index < (@module_description_ids.length - 1)
    end
 %>

<% if previous_id.present? %>
  <% if (params[:previous_mode] == 'editing') && policy(@module_description).edit? %>
    <%= link_to('Previous', edit_item_module_description_path(@item, previous_id), class: 'btn btn-default') %>
  <% else %>
    <%= link_to('Previous', item_module_description_path(@item, previous_id),      class: 'btn btn-default') %>
  <% end %>
<% end %>

<% if next_id.present? %>
  <% if (params[:previous_mode] == 'editing') && policy(@module_description).edit? %>
    <%= link_to('Next',     edit_item_module_description_path(@item, next_id),     class: 'btn btn-default') %>
  <% else %>
    <%= link_to('Next',     item_module_description_path(@item, next_id),          class: 'btn btn-default') %>
  <% end %>
<% end %>
