<%
  @review.problem_reports_addressed.delete_if do |problem_report|
    !problem_report.present?
  end if @review.problem_reports_addressed.present?
%>
<h6><u>Details:</u></h6>
<p>
  <strong>Title:</strong>
  <%= @review.title %><br>
  <strong>Review Type:</strong>
  <%= @review.reviewtype %><br>
  <strong>Review created by:</strong>
  <%= User.fullname_from_email(@review.created_by) if @review.created_by.present? %><br>
  <strong>Problem Reports Addressed:</strong>
  <% if @review.problem_reports_addressed.present? %>
    <br>
    <% @review.problem_reports_addressed.each do |problem_report_id| %>
      <% next unless problem_report_id.present? %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= ProblemReport.get_full_title(problem_report_id) %><br>
    <% end %>
  <% else %>
    None<br>
  <% end %>
  <strong>Evaluators:</strong>

  <% if @review.evaluators.present? %>
    <% if @review.evaluators.instance_of?(String) %>
      <% @review.evaluators = [ @review.evaluators ] %>
    <% end %>

    <% first = true %>

    <% @review.evaluators.each do |evaluator| %>
      <% next unless evaluator.present? %>
      <% unless first %>
        ,&nbsp;
      <% end %>

      <%= User.fullname_from_email(evaluator) %>
      <% first = false %>
    <% end %>

    <br>
  <% end %>

  <% if @review.project.project_managers.present? %>
    <strong>Project Managers:</strong>

    <% if @review.project.project_managers.instance_of?(String) %>
      <% @review.project.project_managers = [ @review.project.project_managers ] %>
    <% end %>

    <% first = true %>

    <% @review.project.project_managers.each do |project_managers| %>
      <% next unless project_managers.present? %>
      <% unless first %>
        ,&nbsp;
      <% end %>

      <%= User.fullname_from_email(project_managers) %>
      <% first = false %>
    <% end %>

    <br>
  <% end %>

  <% if @review.project.configuration_managers.present? %>
    <strong>Configuration Managers:</strong>

    <% if @review.project.configuration_managers.instance_of?(String) %>
      <% @review.project.configuration_managers = [ @review.project.configuration_managers ] %>
    <% end %>

    <% first = true %>

    <% @review.project.configuration_managers.each do |configuration_managers| %>
      <% next unless configuration_managers.present? %>
      <% unless first %>
        ,&nbsp;
      <% end %>

      <%= User.fullname_from_email(configuration_managers) %>
      <% first = false %>
    <% end %>

  <br>

  <% end %>

  <% if @review.project.quality_assurance.present? %>
    <strong>Quality Assurance:</strong>
    <% if @review.project.quality_assurance.instance_of?(String) %>
      <% @review.project.quality_assurance = [ @review.project.quality_assurance ] %>
    <% end %>

    <% first = true %>

    <% @review.project.quality_assurance.each do |quality_assurance| %>
      <% next unless quality_assurance.present? %>
      <% unless first %>
        ,&nbsp;

      <% end %>
      <%= User.fullname_from_email(quality_assurance) %>
      <% first = false %>
    <% end %>

    <br>
  <% end %>

  <% if @review.project.team_members.present? %>
    <strong>Team Members:</strong>

    <% if @review.project.team_members.instance_of?(String) %>
      <% @review.project.team_members = [ @review.project.team_members ] %>
    <% end %>

    <% first = true %>

    <% @review.project.team_members.each do |team_members| %>
      <% next unless team_members.present? %>
      <% unless first %>
        ,&nbsp;
      <% end %>

      <%= User.fullname_from_email(team_members) %>
      <% first = false %>
    <% end %>

    <br>
  <% end %>

  <% if @review.project.airworthiness_reps.present? %>
    <strong>Airworthiness Certification Representatives:</strong>

    <% if @review.project.airworthiness_reps.instance_of?(String) %>
      <% @review.project.airworthiness_reps = [ @review.project.airworthiness_reps ] %>
    <% end %>

    <% first = true %>

    <% @review.project.airworthiness_reps.each do |airworthiness_reps| %>
      <% next unless airworthiness_reps.present? %>
      <% unless first %>
        ,&nbsp;
      <% end %>

      <%= User.fullname_from_email(airworthiness_reps) %>
      <% first = false %>
    <% end %>
    <br>

  <% end %>

  <strong>Status:</strong>
  <%= @review.status %><br>
  <strong>Review Date:</strong>
  <%= @review.evaldate %><br>
  <strong>Description:</strong>
  <%= raw @review.description %><br>
  <strong><%= t('versioning.versionid') %>:</strong>
  <%= @review.version %><br>
  <strong>Item:</strong>
  <%= @review.item.name %><br>
  <strong>Project:</strong>
  <%= @review.project.name %>
<p>
  <strong>Action Items:</strong>
  <%= link_to "Link", review_action_items_path(@review) %><br>
  <strong>Open Action Items:</strong>
  <%= @review.actionitems_open %>
</p>

<p>
  <strong>Checklist Items:</strong><br>
  <div style='padding-left: 20px'>
    <table style='width: 30em !important; border: none !important;'>
      <tr>
        <td>
          Checklist Items Per Checklist: 
        </td>
        <td style="text-align: right">
          <% if @review.present? && @review.evaluators.present? && @review.evaluators.count > 0 %>
            <%= @review.checklistitems_assigned / @review.evaluators.count {|x| x.present? } %>
          <% else %>
            0
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          Evaluators: 
        </td>
        <td style="text-align: right">
          <%= @review.evaluators.count {|x| x.present? } %>
        </td>
      </tr>
      <tr>
        <td>
          Total Assigned Checklist Items: 
        </td>
        <td style="text-align: right">
          <%= @review.checklistitems_assigned %>
        </td>
      </tr>
      <tr>
        <td>
          Passing Checklist Items: 
        </td>
        <td style="text-align: right">
          <%= @review.checklistitems_passingnumber %>
        </td>
      </tr>
      <tr>
        <td>
          Failing Checklist Items: 
        </td>
        <td style="text-align: right">
          <%= @review.checklistitems_failingnumber %>
        </td>
      </tr>
      <tr>
        <td>
           Checklist Items Listed as N/A:
        </td>
        <td style="text-align: right">
          <%= @review.checklistitems_na_number %>
        </td>
      </tr>
      <tr>
        <td>
          Incomplete Checklist Items :
        </td>
        <td style="text-align: right">
          <%= @review.checklistitems_neithernumber %>
        </td>
      </tr>
      <tr>
        <td>
          Percentage Complete:
        </td>
        <td style="text-align: right">
          <%= sprintf("%5.2f", @review.checklistitems_percentage_completed) %>
        </td>
      </tr>
    </table>
  </div>
</p>

<p>
  <strong>Review is Passing:</strong>
  <%= @review.checklistitems_passing ? "Yes" : "No" %><br>
</p>

<p>
  <h4>Files:</h4>
  <br>
  <table width="100%">
    <tr>
      <td width="20el">
      </td>
      <td>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">File</th>
              <th scope="col">Type</th>
              <th scope="col">Uploaded</th>
            </tr>
          </thead>
          <tbody>
            <% @review.review_attachment.each do |revattach| %>
              <% if revattach.link_type.present? && revattach.link_link.present? %>
                <tr>
                  <td>
                    <% if revattach.link_type == 'ATTACHMENT' && revattach.file.attached? %>
                      <%= link_to revattach.file.filename, url_for(revattach.file) + '?new_window=true', target: :_blank %>
                    <% else %>
                      <% description = revattach.link_description %>

                      <% unless description.present? %>
                        <% description = revattach.link_link %>
                      <% end %>

                      <% if revattach.link_link =~ /^http[s]{0,1}:\/\/.+$/ %>
                        <%= link_to description, revattach.link_link + '?new_window=true', target: :_blank %>
                      <% else %>
                        <%= description %>
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <%= Constants::ReviewAttachmentType_hash.key(revattach.attachment_type) %>
                  </td>
                  <td>
                    <%= revattach.upload_date %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</p>
