<% @checklist_items.each do |checklist_item| %>
<p>
<h2>
  <strong>Checklist Item ID:</strong>
  <%= checklist_item.clitemid %>
</h2>
<strong>Description:</strong>
<%= checklist_item.description %>
<br>
<strong>Reference:</strong>
<%= checklist_item.reference %>
<br>
<strong>Minimum DAL:</strong>
<%= checklist_item.minimumdal %>
<br>
<strong>Supplements:</strong>
<%= checklist_item.supplements.join(', ') %>
<br>
<strong>Status:</strong>
<%= checklist_item.status %>
<br>
<strong>Evaluator:</strong>
<%= User.fullname_from_email(checklist_item.evaluator) %>
<br>
<strong>Evaluation Date:</strong>
<%= checklist_item.evaluation_date %>
<br>
<strong>Notes:</strong>
<%= checklist_item.note %>
<br>
<strong>Review:</strong>
<% if checklist_item.review %>
  <%= checklist_item.review.title %>
<% else %>
  None Associated
<% end %>
<br>
<strong>Document:</strong>
<% if checklist_item.document %>
  <%= checklist_item.document.name %>
<% else %>
  None Associated
<% end %>
<br>
<strong>Project:</strong>
<%= checklist_item.review.project.name %>
</p>
<% end %>
