<style>
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before {}

table th
{
  font-family: verdana !important;
  font-size:   14px    !important;
  line-height: 18px    !important;
}

table td
{
  font-family: verdana !important;
  font-size:   14px    !important;
  line-height: 18px    !important;
}
</style>

<% if (controller.action_name == 'edit') && @review.present? && @review.id.present? %>
  <p>
    <% if @review.checklist_item.present? %>
      <% unless @review.checklists_assigned %> 
        <%= link_to 'Remove All Checklist Items', review_checklistremoveall_path(@review), class: "btn btn-primary d-print-none", style: "color:white" %>
      <% end %>
    <% else %>
      <%= link_to 'Populate Checklist', review_checklistfill_path(@review), class: "btn btn-primary d-print-none", style: "color:white" %>
    <% end %>
  </p>
<% end %>

<table id="scrollableDataTable" class="table table-striped table-bordered table-sm" cellspacing="0"  width="100%">
  <thead>
    <tr>
      <th class="th-sm">ID</th>
      <th class="th-sm">Description</th>
      <th class="th-sm">Applicable DAL</th>
      <th class="th-sm">Reference</th>
      <th class="th-sm">Supplements</th>
      <th class="th-sm">Evaluator</th>
      <th class="th-sm">Status</th>
      <th class="th-sm">Notes</th>
    </tr>
  </thead>

  <tbody>
    <% if @review.checklists_assigned %>
      <% if @my_checklist_items.present? %>
        <% @my_checklist_items.each do |checklist_item| %>
          <tr>
            <td><%= checklist_item.clitemid %></td>
            <td><%= checklist_item.description %></td>
            <td><%= checklist_item.minimumdal %></td>
            <td><%= checklist_item.reference %></td>
            <td><%= raw(checklist_item.supplements.join('<br>')) %></td>
            <td><%= checklist_item.user_id.present? ? User.find(checklist_item.user_id).fullname : '' %></td>
            <% if ChecklistItem.column_names.include?('status') %>
              <td><%= checklist_item.status %></td>
            <% else %>
              <td><%= checklist_item.passing %></td>
            <% end %>
            <td><%= checklist_item.note %></td>
          </tr>
        <% end %>
      <% else %>
        <% @checklist_items.each do |checklist_item| %>
          <% next if checklist_item.assigned %>

          <tr>
            <td><%= checklist_item.clitemid %></td>
            <td><%= checklist_item.description %></td>
            <td><%= checklist_item.minimumdal %></td>
            <td><%= checklist_item.reference %></td>
            <td><%= raw(checklist_item.supplements.join('<br>')) %></td>
            <td><%= checklist_item.user_id.present? ? User.find(checklist_item.user_id).fullname : '' %></td>
            <% if ChecklistItem.column_names.include?('status') %>
              <td><%= checklist_item.status %></td>
            <% else %>
              <td><%= checklist_item.passing %></td>
            <% end %>
            <td><%= checklist_item.note %></td>
        <% end if @checklist_items.present? %>
      <% end %>
    <% else %>
      <% @checklist_items.each do |checklist_item| %>
        <tr>
          <td><%= checklist_item.clitemid %></td>
          <td><%= checklist_item.description %></td>
          <td><%= checklist_item.minimumdal %></td>
          <td><%= checklist_item.reference %></td>
          <td><%= raw(checklist_item.supplements.join('<br>')) %></td>
          <td></td>
          <% if ChecklistItem.column_names.include?('status') %>
            <td><%= checklist_item.status %></td>
          <% else %>
            <td><%= checklist_item.passing %></td>
          <% end %>
          <td><%= checklist_item.note %></td>
        </tr>
      <% end  if @checklist_items.present? %>
    <% end %>
  </tbody>
</table>

<% if (controller.action_name == 'edit') &&
      @review.present?                   &&
      @review.id.present?                &&
     !@review.checklists_assigned
 %>
  <%=
       link_to 'New Checklist Item',
       new_review_checklist_item_path(@review),
       class: "btn btn-primary d-print-none"
   %>
<% end %>

<script>
  $( document ).ready(function() {
    $('#scrollableDataTable').DataTable({
    "sDom":           "Rlfrtip",
    "scrollX":        true,
    "scrollY":        "55vh",
    "aLengthMenu":    [[10, 50, 100, -1], [25, 50, 100, "All"]],
    "pageLength":     -1,
    "scrollCollapse": true,
    "paging":         false,
    "ordering":       true,
    "info":           false,
    });
  });
</script>
