<h1>Fill In Checklist</h1>

<style>
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before {}
</style>

<table id="scrollableDataTable" class="table table-striped table-bordered table-sm" cellspacing="0"  width="100%">
  <thead>
    <tr>
      <th class="th-sm">ID</th>
      <th class="th-sm">Description</th>
      <th class="th-sm">Applicable DAL</th>
      <th class="th-sm">Reference</th>
      <th class="th-sm">Supplements</th>
      <th class="th-sm">Status</th>
      <th class="th-sm">Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @my_checklist_items.each_with_index do |checklist_item, i| %>
      <tr>
        <td width="3%">
          <%= checklist_item.clitemid %>
          <input id="checklist_id_<%=checklist_item.clitemid%>" name="check_list_id_<%=checklist_item.clitemid%>" type="hidden" value="<%=checklist_item.clitemid%>"
        </td>
        <td width="30%"><%= checklist_item.description %></td>
        <td width="2%"><%= checklist_item.minimumdal %></td>
        <td width="10%"><%= checklist_item.reference %></td>
        <td width="10%"><%= raw(checklist_item.supplements.join('<br>')) %></td>
        <td width="10%">
          <select id="checklist_status_<%=checklist_item.clitemid%>" name="checklist_status_<%=checklist_item.clitemid%>">
            <option value=""></option>
            <% if checklist_item.status == 'Pass' %>
              <option value="Pass" selected>Pass</option>
            <% else %>
              <option value="Pass">Pass</option>
            <% end %>
            <% if checklist_item.status == 'Fail' %>
              <option value="Fail" selected>Fail</option>
            <% else %>
              <option value="Fail">Fail</option>
            <% end %>
            <% if checklist_item.status == 'N/A' %>
              <option value="N/A"selected>N/A</option>
            <% else %>
              <option value="N/A">N/A</option>
            <% end %>
          </select>
        </td>
        <td width="30%">
          <textarea id="checklist_note_<%=checklist_item.clitemid%>" name="checklist_note_<%=checklist_item.clitemid%>" style='margin: 0; padding: 0;'><%= checklist_item.note %></textarea>
          <br>
          <button id='expand_<%= checklist_item.clitemid %>' type='button' class='btn' onclick='expandNote("<%= checklist_item.clitemid %>");' style='margin: 0;'>Expand Note</button>
           <br>

          <% if @documents.present? %>
            <br>
            <% if @review_document.present? %>
              <%= select_tag "Documents", options_from_collection_for_select(@documents, "id", "name", @review_document.id), style: 'margin: 0; padding: 0;', id: "documents_#{checklist_item.clitemid}" %>
            <% else %>
              <%= select_tag "Documents", options_from_collection_for_select(@documents, "id", "name"), style: 'margin: 0; padding: 0;', id: "documents_#{checklist_item.clitemid}" %>
            <% end %>

            <br>
            <button id='document_<%= checklist_item.clitemid %>' type="button" class='btn' onclick="open_document_comment(<%= checklist_item.clitemid %>, '<%= @document_url %>');" style='margin: 0;'>Document Comment</button>
            <br>
            <button id='action_item_<%= checklist_item.clitemid %>' type="button" class='btn' onclick="open_action_item(<%= checklist_item.id %>, <%= checklist_item.clitemid %>, '<%= review_action_items_path(@review) %>');" style='margin: 0;'>Action Item</button>
          <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<button class="btn" id="submit_changes" type="button">Submit Changes</button>
<button class="btn" id="save_changes" type="button" disabled>Save Changes</button>
<%= link_to 'Export', review_export_checklist_path(@review) + '?new_window=true', target: :_blank, class: "btn d-print-none"  %>
<%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)', class: 'btn' %>

<script>
  var dirty = false;
  var popWindow;

  function expandNote(id)
  {
    var popupUrl      = window.location.href;
    var contents      = document.getElementById('checklist_note_' + id);
    var contentsValue = document.getElementById('checklist_note_' + id).value;
    index             = popupUrl.indexOf('reviews');
    popupUrl          = popupUrl.substring(0, index) + '/popup/' + id + "?field='checklist_note_" + id + "'"
    popupUrl         += "&contents='" + contentsValue + "'"
    popWindow         = window.open(popupUrl, 'Edit', "height=420,width=700");
  }

  function open_document_comment(id, url)
  {
    var select_field = document.getElementById('documents_' + id);
    var document_id  = select_field.value;
    var newDoc;

    if (document_id > 0)
    {
      if (!url.match(/\/documents\//))
        url += '/documents/1';

      url            = url.replace(/\/items\/.*$/, '');
      url           += '/documents/' + document_id + '/document_comments';
      newDoc         = window.open(url, '_blank');
    }
  }

  function open_action_item(id, clitemid, url)
  {
    var newDoc;

    url   += '?checklist_item=' + id;
    newDoc = window.open(url, '_blank');
  }

  function confirm_exit(confirmFirst)
  {
    var status = true;

    if (dirty)
    {
      if (confirmFirst)
          status = confirm("You have attempted to leave this page.  If you have made any changes without clicking the Save or submit button, your changes will be lost.  Are you sure you want to exit this page?");
        else
          status = "You have attempted to leave this page.  If you have made any changes without clicking the Save or submit button, your changes will be lost.  Are you sure you want to exit this page?";
    }

    return status;
  }

  $( document ).ready(function() {
    var table = $('#scrollableDataTable').DataTable({
    "sDom":           "Rlfrtip",
    "scrollX":        true,
    "scrollY":        "55vh",
    "aLengthMenu":    [[10, 50, 100, -1], [25, 50, 100, "All"]],
    "pageLength":     -1,
    "scrollCollapse": true,
    "paging":         false,
    "ordering":       true,
    "info":           false,
    });

    $('[id*="checklist_note_"]').change(function()
    {
      dirty = true;

      $('#save_changes').prop('disabled', false);
    });

    $('[id*="checklist_status_"]').change(function()
    {
      dirty = true;

      $('#save_changes').prop('disabled', false);
    });

    $('#submit_changes').click(function()
    {
      var current_url  = window.location.href;
      var status_field = '#checklist_status_';
      var notes_field  = '#checklist_note_';
      var okay         = true;
      var data         = [];

      $('[id*="checklist_id_"]').each(function( index ) {
        var item         = {};

        item.id          = $(this).val();
        item.status      = $(status_field + $(this).val()).val();
        item.notes       = $(notes_field  + $(this).val()).val();

        if (((item.status == "Fail") || (item.status == "N/A")) &&
            (item.notes === ""))
        {
          alert('You have marked some checklist items as Fail or N/A but not filled in anything in notes. If you mark a checklist item as fail ot N/A you must enter an explanation in notes');

          okay = false;

          return(okay);
        }
      });

      if (!okay)
        return okay;

      $('[id*="checklist_id_"]').each(function( index ) {
        var item         = {};

        item.id          = $(this).val();
        item.status      = $(status_field + $(this).val()).val();
        item.notes       = $(notes_field  + $(this).val()).val();

        data.push(item);
      });

      $.ajax(
               {
                 type:    "post",
                 url:     current_url,
                 async:   false,
                 data:    {
                            checklist_data: JSON.stringify(data)
                          },
                 error:   function(xhr, textStatus, errorThrown)
                          {
                            if (xhr.responseText &&
                                (xhr.responseText !== ''))
                            {
                              var newDoc = document.open('text/html',
                                                         "replace");

                              newDoc.write(xhr.responseText);
                              newDoc.close();
                            }
                            else
                            {
                              alert("Error Occured. " + textStatus + ": " +
                                    errorThrown);
                            }
                          },
                 success: function(data)
                          {
                            dirty = false;

                            $('#save_changes').prop('disabled', true);
                          }
               }
            );
    });

    $('#save_changes').click(function()
    {
      var current_url  = window.location.href;
      var status_field = '#checklist_status_';
      var notes_field  = '#checklist_note_';
      var okay         = true;
      var data         = [];

      $('[id*="checklist_id_"]').each(function( index ) {
        var item         = {};

        item.id          = $(this).val();
        item.status      = $(status_field + $(this).val()).val();
        item.notes       = $(notes_field  + $(this).val()).val();

        if (((item.status == "Fail") || (item.status == "N/A")) &&
            (item.notes === ""))
        {
          alert('You have marked some checklist items as Fail or N/A but not filled in anything in notes. If you mark a checklist item as fail ot N/A you must enter an explanation in notes');

          okay = false;

          return(okay);
        }
      });

      if (!okay)
        return okay;

      $('[id*="checklist_id_"]').each(function( index ) {
        var item         = {};

        item.id          = $(this).val();
        item.status      = $(status_field + $(this).val()).val();
        item.notes       = $(notes_field  + $(this).val()).val();

        data.push(item);
      });

      $.ajax(
               {
                 type:    "post",
                 url:     current_url + '?no_exit=true',
                 async:   false,
                 data:    {
                            checklist_data: JSON.stringify(data)
                          },
                 error:   function(xhr, textStatus, errorThrown)
                          {
                            if (xhr.responseText &&
                                (xhr.responseText !== ''))
                            {
                              var newDoc = document.open('text/html',
                                                         "replace");

                              newDoc.write(xhr.responseText);
                              newDoc.close();
                            }
                            else
                            {
                              alert("Error Occured. " + textStatus + ": " +
                                    errorThrown);
                            }
                          },
                 success: function(data)
                          {
                            dirty = false;

                            $('#save_changes').prop('disabled', true);
                          }
               }
            );
    });
  });
</script>
