<h1>Attendees</h1>

<table class="table">
  <tr style='border-bottom: double !important;'>
    <td width="1%" style='vertical-align: middle;'>
      <input id="select_all" name="select_all" type="checkbox" value="ALL">
   </td>
    <td width="99%" style='vertical-align: middle; font-size: 16pt'>
      <strong>Name</strong>
    </td>
    </tr>

    <% User.organization_or_role(current_user.organization,
                                 'AirWorthinessCert Member').each do |user| %>
      <tr>
        <td width="1%" style='vertical-align: middle;'>
          <% if user.selected %>
            <input id=user.email name=user.email type="checkbox" class="largerCheckbox" checked value="<%= user.email %>" />
          <% else %>
            <input id=user.email name=user.email type="checkbox" class="largerCheckbox" value="<%= user.email %>"/>
          <% end %>
        </td>
        <td width="99%" style='vertical-align: middle; font-size: 16pt;'>
          <%=  User.fullname_from_email(user.email) %>
        </td>
      </tr>
    <% end %>
</table>

<%= simple_form_for([@review.item, @review], html: { class: 'form-horizontal' }) do |f| %>
     <%= f.input :attendees, :as => :hidden %>
     <input type='submit' value='Done' onclick='submit_attendees();' class='btn btn-primary' />
<% end %>

<br>

<script>

$(document).ready(function()
{
  $("#select_all").change(function() {
    var checked = false;

    if (document.getElementById("select_all").checked)
      checked = true;
    else
      checked = false;

    $("input[type=checkbox]").prop('checked', checked);
  });
});

function submit_attendees()
{
  var selectedField = document.getElementById('review_attendees');
  var selected      = "";

  $("input[type=checkbox]").each(function(){
    if ($(this).prop('checked'))
    {
      var value = $(this).prop('value');

      if (value !== "ALL") {
        if (selected !== "")
          selected += "," + value;
        else
          selected = value;
      }
    }
  });

  selectedField.value = selected;

  return(true);
}
</script>
