<style>
  .signature {
    background-color: #fff !important;
    color: #333;
    padding-top: 33px !important;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    width: 50em !important;
    height: 5em !important;
  }
}
</style>

<%
    attendees = @review.attendees.present? ? @review.attendees.split(',') : []
    sign_offs = @review.sign_offs.present? ? @review.sign_offs            : []
 %>

<div style="background-color: #00e !important; padding: 10px !important;">
  <h4 style="color: #fff !important;">Attendee Sign-In Sheet</h4>
  <h5 style="color: #fff !important;">
    Title:
    <%= @review.title %>
  </h5>
</div>

<div style="padding: 10px !important;">
  <h6><u>Details:</u></h6>
  <p>
    <table style="border: hidden !important;">
      <tr style="border: hidden !important;">
        <td style="border: hidden !important;">
          <strong>Review ID:</strong>
        </td>
        <td style="border: hidden !important;">
          <%= @review.fullreviewid %>
        </td>
      </tr>
      <tr style="border: hidden !important;">
        <td style="border: hidden !important;">
          <strong>Project:</strong>
        </td>
        <td style="border: hidden !important;">
          <%= @review.project.name %>
        </td>
      </tr>
      <tr style="border: hidden !important;">
        <td style="border: hidden !important;">
          <strong>Description:</strong>
        </td>
        <td style="border: hidden !important;">
          <%= simple_format(@review.description) %>
        </td>
      </tr>
      <tr style="border: hidden !important;">
        <td style="border: hidden !important; vertical-align: top !important;">
          <strong>Review created by:</strong>
        </td>
        <td style="border: hidden !important; vertical-align: top !important;">
          <%= User.fullname_from_email(@review.created_by) if @review.created_by.present? %>
        </td>
      </tr>
      <tr style="border: hidden !important;">
        <td style="border: hidden !important; vertical-align: top !important;">
          <strong>Evaluators who have signed:</strong>
        </td>
        <td style="border: hidden !important; vertical-align: top !important;">
          <% sign_offs.each do |sign_off| %>
            <%= User.fullname_from_email(sign_off) %><br>
          <% end %>
          <br>
        </td>
      </tr>
      <tr style="border: hidden !important;">
        <td style="border: hidden !important; vertical-align: top !important;">
          <strong>Evaluators who have not signed:</strong>
        </td>
        <td style="border: hidden !important; vertical-align: top !important;">
          <% attendees.each do |attendee| %>
            <% unless @review.sign_offs.include?(attendee) %>
              <%= User.fullname_from_email(attendee) %><br>
            <% end %>
          <% end %>
          <br>
        </td>
      </tr>
      <tr style="border: hidden !important;">
        <td style="border: hidden !important;">
          <strong>Evaluation Date:</strong>
        </td>
        <td style="border: hidden !important;">
          <%= @review.evaldate %>
        </td>
      </tr>
    </table>
  </p>
</div>

<div style="background-color: #ddd !important; padding: 10px !important;">
  <h5>Attendee List</h5>

  <div style="padding-left: 50px;">
    <% attendees.each do |attendee| %>
      <% user = User.find_by(email: attendee, organization: User.current.organization) %>

      <% next unless user.present? %>

      <% if sign_offs.include?(user.email) %>
        <% if user.signature_file.attached? %>
          <%= image_tag(user.signature_file.variant(resize: "500x150")) %>
        <% else %>
          <div class="signature">
          </div>
        <% end %>
        <br>
        <%= user.fullname %>, <%= user.title %>
        <br>
      <% end %>
    <% end %>
  </div>
</div>

<div style="background-color: #ddd !important; padding: 10px !important; display: none !important;">
  <h5>Other Attendees</h5>
    <% i = 0 %>
    <% for i in 1..3 do %>
      <div style="padding-left: 50px;">
        <p>
          <div class="signature">
          </div>
          <br>
          Please sign, print your name and title.
        </p>
      </div>
    <% end %>
</div>
<%=
    unless @no_links
       link_to('Save Sign-In Sheet',
               review_save_sign_in_path(@review) + '?new_window=true',
               class:  "btn d-print-none",
               target: :_blank )
    end
  %>

<% if @review.attendees.present? %>
  <% attendees = @review.attendees.split(',') %>

  <% if attendees.include?(current_user.email) && !@review.sign_offs.include?(current_user.email) && !@no_links %>
    <%= link_to 'Sign Review', review_sign_off_path(@review), class: "btn d-print-none", style: "color:white" %>
  <% end %>
<% end %>

<% unless @no_links %>
    <%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)', class: 'btn' %>
<% end %>
