<ul class="list-group">
  <li class="list-group-item active">
    <h5>Name: <%= @project.name %></h5>
  </li>
  <li class="list-group-item">
    <h6><u>Details:</u></h6>
    <strong>Identifier:</strong>
    <%= @project.identifier %>
    <br>
    <strong>Project Managers:</strong>
    <% if @project.project_managers.present? %>
      <% if @project.project_managers.instance_of?(String) %>
        <% @project.project_managers = [ @project.project_managers ] %>
      <% end %>
      <% first = true %>
      <% @project.project_managers.each do |project_managers| %>
        <% next unless project_managers.present? %>
        <% unless first %>
          ,&nbsp;
        <% end %>
        <%= User.fullname_from_email(project_managers) %>
        <% first = false %>
      <% end %>
    <% end %>
    <br>
    <strong>Configuration Managers:</strong>
    <% if @project.configuration_managers.present? %>
      <% if @project.configuration_managers.instance_of?(String) %>
        <% @project.configuration_managers = [ @project.configuration_managers ] %>
      <% end %>
      <% first = true %>
      <% @project.configuration_managers.each do |configuration_managers| %>
        <% next unless configuration_managers.present? %>
        <% unless first %>
          ,&nbsp;
        <% end %>
        <%= User.fullname_from_email(configuration_managers) %>
        <% first = false %>
      <% end %>
    <% end %>
    <br>
    <strong>Quality Assurance:</strong>
    <% if @project.quality_assurance.present? %>
      <% if @project.quality_assurance.instance_of?(String) %>
        <% @project.quality_assurance = [ @project.quality_assurance ] %>
      <% end %>
      <% first = true %>
      <% @project.quality_assurance.each do |quality_assurance| %>
        <% next unless quality_assurance.present? %>
        <% unless first %>
          ,&nbsp;
        <% end %>
        <%= User.fullname_from_email(quality_assurance) %>
        <% first = false %>
      <% end %>
    <% end %>
    <br>
    <strong>Team Members:</strong>
    <% if @project.team_members.present? %>
      <% if @project.team_members.instance_of?(String) %>
        <% @project.team_members = [ @project.team_members ] %>
      <% end %>
      <% first = true %>
      <% @project.team_members.each do |team_members| %>
        <% next unless team_members.present? %>
        <% unless first %>
          ,&nbsp;
        <% end %>
        <%= User.fullname_from_email(team_members) %>
        <% first = false %>
      <% end %>
    <% end %>
    <br>
    <strong>Certification Representatives:</strong>
    <% if @project.airworthiness_reps.present? %>
      <% if @project.airworthiness_reps.instance_of?(String) %>
        <% @project.airworthiness_reps = [ @project.airworthiness_reps ] %>
      <% end %>
      <% first = true %>
      <% @project.airworthiness_reps.each do |airworthiness_reps| %>
        <% next unless airworthiness_reps.present? %>
        <% unless first %>
          ,&nbsp;
        <% end %>
        <%= User.fullname_from_email(airworthiness_reps) %>
        <% first = false %>
      <% end %>
    <% end %>
    <br>
    <strong>Access:</strong>
    <%= @project.access %>

    <% if @project.access == 'PROTECTED' %>
      <div style="margin-left:2%; margin-right:2%;">
        Permitted Users:<br>
        <div style="margin-left:2%; margin-right:2%;">
          <% @project.permitted_users.each do |user_id, permitted_user| %>
            <% next unless permitted_user[:user].present? %>

            <%= permitted_user[:user].fullname %><br>
          <% end %>
        </div>
      </div>
    <% end %>
  </li>
  <li class="list-group-item">
    <h6><u>Navigation:</u></h6>
    <p>
      <%= link_to t('items.pl_title'), project_items_path(@project) %><br>
      <%= link_to t('sysreqs.pl_title'), project_system_requirements_path(@project) %><br>
      <%= link_to t('problemreports.pl_title'), project_filtered_problem_reports_path(@project) %><br>
      <%= link_to t('reviews.status'), project_review_status_path(@project) %><br>
      <%= link_to t('archives.pl_title'), project_archives_path(@project) %><br>
    </p>
  </li>
</ul>

<br>
<%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-default' %>
<%= link_to 'New Project', new_project_path,     class: "btn btn-primary" %>
<%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)',             class: 'btn btn-default' %>

<% if @undo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Undo', @undo_path,                class: 'btn btn-default' %>
<% end %>

<% if @redo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Redo', @redo_path,                class: 'btn btn-default' %>
<% end %>

