<style> 
  input[type="radio"], input[type="checkbox"]
  {
    padding-top: 10px !important;
    width: 20px       !important; 
    height: 20px      !important; 
  }

  .module_description_all
  {
    width: 20px !important;
  }

  .itemColumn
  {
     width: 20%            !important;
     align-content: center !important;
     text-align:    left   !important;
  }

  .idColumn
  {
     width: 20%            !important;
     align-content: center !important;
     text-align:    left   !important;
  }

  .descriptionColumn
  {
     width: 55%            !important;
     align-content: center !important;
     text-align:    left   !important;
  }

  .filenameColumn
  {
     width: 15%            !important;
     align-content: center !important;
     text-align:    left   !important;
  }

  .checkboxColumn
  {
     width: 5%             !important;
     align-content: center !important;
     text-align:    center !important;
  }

  table.moduleDescriptionsDataTable thead th
  {
     height: 0px         !important;
     vertical-align: top !important;
  }

  table.moduleDescriptionsDataTable tbody td
  {
     height: 0px         !important;
     vertical-align: top !important;
  }
</style>

Choose Hardware/Software Item in which to find <%= Item.item_type_title(@item, :module_description, :plural) %>
<br>
<select id='module_description_item_select' multiple=true>
  <option></option>
  <% Item.where(project_id: @project.id).order(:identifier).each do |item| %>
    <% if item.id == @item.id %>
      <option id='item_<%= item.id %>' value='<%= item.id %>' selected><%= item.identifier %></option>
    <% else %>
      <option id='item_<%= item.id %>' value='<%= item.id %>'><%= item.identifier %></option>
    <% end %>
  <% end %>
</select>

<table id="moduleDescriptionsDataTable" class="table table-striped table-bordered table-sm" cellspacing="0"  width="100%">
  <thead>
    <tr>
      <th class="module_description_all"><input :select_module_description_all_module_descriptions, { type="checkbox", id="select_module_description_all_module_descriptions", value="ALL"}>&nbsp;</th>
      <th scope="col" class="itemColumn">Hardware/<br>Software Item</th>
      <th scope="col" class="idColumn"><%= @item.get_item_title(:module_description, :singular_shortened) %></th>
      <th scope="col" class="descriptionColumn"><%= t('misc.desc') %></th>
      <th scope="col" class="verificationMethodColumn"><%= t('misc.verification_method') %></th>
    </tr>
  </thead>

  <tbody>
    <% if @module_descriptions.present? %>
      <% @module_descriptions.each do |module_description| %>
        <tr>
          <% if module_description.selected %>
            <td class="module_description_all">&nbsp;&nbsp;<input id='module_description.<%= module_description.id %>' name='module_description.<%= module_description.id %>' type="checkbox" checked value="<%= module_description.id %>" /></td>
          <% else %>
            <td class="module_description_all">&nbsp;&nbsp;<input id='module_description.<%= module_description.id %>' name='module_description.<%= module_description.id %>' type="checkbox" value="<%= module_description.id %>"/></td>
          <% end %>
          <td scope="col" class="itemColumn"><%= @item.identifier %></th>
          <td class="idColumn"><%= module_description.full_id %></td>
          <td class="descriptionColumn"><%= raw module_description.description %></td>
          <td class="filenameColumn"><%= module_description.file_name %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<input type='button' value='Save <%= t('module_description.pl_title') %> Links' style='display: none' onclick='submitModuleDescriptions();' class='btn' />
<br>

<script>
var moduleDescriptionsDataTable = $('#moduleDescriptionsDataTable').DataTable({
	"sDom":           "Rlfrtip",
  "scrollX":        true,
  "scrollY":        "65vh",
  "aLengthMenu":    [[10, 50, 100, -1], [25, 50, 100, "All"]],
  "pageLength":     -1,
  "scrollCollapse": true,
  "paging":         false,
  "ordering":       false,
  "info":           false
});

function redrawModuleDescriptionsTable()
{
  moduleDescriptionsDataTable.draw();
}

function ajaxError(xhr, textStatus, errorThrown)
{
  if (xhr.responseText &&
     (xhr.responseText !== ''))
  {
    var newDoc = document.open('text/html',
                               "replace");

    newDoc.write(xhr.responseText);
    newDoc.close();
  }
  else
  {
    alert("Error Occured. " + textStatus + ": " +
          errorThrown);
  }
}

function getModuleDescriptionCells(row, count)
{
  var cells  = [];

  for (var j = 0; j < count; j++)
    cells[j] = $(`#moduleDescriptionsDataTable tr:${row} td:eq(${j})`);

  return cells;
}

function populateModuleDescriptionRow(itemName, requirementID, description,
                                        verification_method)
{
  var rowNode;
  var method  = '';

  if (verification_method.length > 0)
  {
    for (var i = 0; i < verification_method.length; i++)
    {
      if (verification_method[i] !== '')
      {
        if (method === '')
          method  = verification_method[i];
        else
          method += ', '+ verification_method[i];
      }
    }
  }

  rowNode = moduleDescriptionsDataTable.row.add([
                                     '',
                                     itemName,
                                     requirementID,
                                     description,
                                     method,
                                     ''
                                  ]).node();

  return rowNode;
}

function setModuleDescriptionCheckbox(cell, value, id)
{
  if (value)
    cell.outerHTML = ('<td class="module_description_all">&nbsp;&nbsp;<input id="module_description.' + id + '" name="module_description.' + id + '" type="checkbox" checked value="' + id + '"/></td>');
  else
    cell.outerHTML = ('<td class="module_description_all">&nbsp;&nbsp;<input id="module_description.' + id + '" name="module_description.' + id + '" type="checkbox" value="' + id + '"/></td>');
}

function setModuleDescriptionCheckicon(cell, value)
{
  if (value)
    cell.outerHTML = ('<td class="checkboxColumn"><i class="far fa-check-square"></i></td>');
  else
    cell.outerHTML = ('<td class="checkboxColumn"><i class="far fa-square"></i></td>');
}

function processModuleDescriptionsData(data)
{
  var selectedField        = document.getElementById("source_code_module_description_associations");
  var selectedRequirements = selectedField.value.split(',');

  moduleDescriptionsDataTable.clear();

  for (var j = 0; j < data.length; j++)
  {
    var llr      = data[j];

    if (llr.soft_delete)
      continue;

    var id       = llr.id;
    var item_id  = '#item_' + llr.item_id;
    var rowNode  = populateModuleDescriptionRow($(item_id).text(),
                                                  llr.full_id,
                                                  llr.description,
                                                  llr.verification_method);
    var cells    = rowNode.children;
    var selected = false;

    for (var k = 0; k < selectedRequirements.length; k++)
    {
      if (selectedRequirements[k] == id)
      {
        selected = true;

        break;
      }
    }

    setModuleDescriptionCheckbox(cells[0],  selected, id);
    cells[1].classList.add("itemColumn");
    cells[2].classList.add("idColumn");
    cells[3].classList.add("descriptionColumn");
  }

  moduleDescriptionsDataTable.draw();
}

$("#module_description_item_select").change(function()
{
  var itemIDs    = $('#module_description_item_select').val();
  var url        = window.location.href;
  var itemsIndex = url.indexOf('items/');
  var idString   = '';

  for (var j = 0; j < itemIDs.length; j++)
  {
    if (itemIDs[j] !== '')
    {
      if (idString === '')
        idString  = itemIDs[j];
      else
        idString += ',' + itemIDs[j];
    }
  }

  if (idString === '')
    return;

  url = url.substring(0, itemsIndex + 6) + idString + '/module_descriptions.json';

  $.ajax(
           {
             type:        "GET",
             url:         url,
             dataType:    'json',
             contentType: 'text/html',
             async:       false,
             error:       ajaxError,
             success:     processModuleDescriptionsData
           }
        );

  redrawModuleDescriptionsTable();
});

$("#select_module_description_all_module_descriptions").change(function()
{
  var checked = false;

  if (document.getElementById("select_module_description_all_module_descriptions").checked)
    checked = true;
  else
    checked = false;

  $("td.module_description_all input[type=checkbox]").prop('checked', checked);
});

function submitModuleDescriptions()
{
  var selectedField                              = document.getElementById("source_code_module_description_associations");
  var linkedModuleDescriptionsbutton           = document.getElementById('link_module_descriptions_button');
  var linkedModuleDescriptionsDiv              = document.getElementById('linked_module_descriptions');
  var selected                                   = "";

  $('[id*="module_description."]').each(function(){
    if ($(this).prop('checked'))
    {
      var value = $(this).prop('value');

      if (value !== "ALL") {
        if (selected !== "")
          selected += "," + value;
        else
          selected = value;
      }
    }
  });

  selectedField.value = selected;

  linkedModuleDescriptionsDiv.style.display    = 'none';
  linkedModuleDescriptionsbutton.style.display = 'block';
  linkedModuleDescriptionsbutton.value         = 'Link <%= Item.item_type_title(@item, :module_description, :plural) %>';

  return(true);
}
</script>
