<head>
  <title><%= full_title(yield(:title)) %></title>
</head>

<style>
  .column_1 {
    width:          225px !important;
    vertical-align: top
  }

  .column_2 {
    width:          350px !important;
    vertical-align: top
  }

  .column_3 {
    width:          225px !important;
    vertical-align: top
  }

  .column_4 {
    vertical-align: top
  }
</style>

<h3><%= t('misc.source_code') %></h3>

<% @source_codes.each do |source_code| %>
  <table style="width: 100%" border="2">
    <% if source_code.soft_delete %>
      <% next %>
    <% end %>
    <tr>
      <td class="column_1">
        <%= source_code.full_id %>
      </td>
      <td class="column_2">
        <%= source_code.file_name.to_s.html_safe %>
      </td>
      <td class="column_3">
        Version
      </td>
      <td class="column_4">
        <%= source_code.version %>
      </td>
    </tr>
    <tr>
      <td class="column_1">
        Module:
      </td>
      <td  class="column_2">
        <%= source_code.module.to_s.html_safe %>
      </td>
      <td class="column_3">
        Functions
      </td>
      <td class="column_4">
        <%= simple_format(source_code.function) %>
      </td>
    </tr>
    <tr>
      <td class="column_1">
        Covers <%= Item.item_type_title(@item, :low_level, :plural) %>:
      </td>
      <td class="column_2">
        <% if source_code.low_level_requirement_associations.present? %>
          <% low_level_requirements = source_code.low_level_requirement_associations.split(',') %>
          <% low_level_requirements.each do |requirement| %>
            <% next unless requirement.present? %>
            <% if requirement =~ /^\d+$/ %>
              <% low_level_requirement = LowLevelRequirement.find(requirement) %>
              <%= low_level_requirement.fullreqid %>
            <% else %>
              <%= requirement %>
            <% end %>
            <br>
          <%end %>
        <% end %>
      </td>
      <td class="column_3">
        Covers <%= Item.item_type_title(@item, :high_level, :plural) %>:
      </td>
      <td class="column_4">
        <% if source_code.high_level_requirement_associations.present? %>
          <% high_level_requirements = source_code.high_level_requirement_associations.split(',') %>
          <% high_level_requirements.each do |requirement| %>
            <% next unless requirement.present? %>
            <% if requirement =~ /^\d+$/ %>
              <% high_level_requirement = HighLevelRequirement.find(requirement) %>
              <%= high_level_requirement.fullreqid %>
            <% else %>
              <%= requirement %>
            <% end %>
            <br>
          <%end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="column_1">
        Attachment Type:
      </td>
      <td class="column_2">
        <%= Constants::AttachmentType_hash.invert[source_code.url_type] %>
      </td>
      <td class="column_3">
        URL:
      </td>
      <td class="column_4">
        <% if source_code.url_type == 'EXTERNAL' %>
          <%= source_code.url_link %>
        <% else %>
          <%= source_code.url_description %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="column_1">
        External Version:
      </td>
      <td  class="column_2">
        <%= source_code.external_version %>
      </td>
      <td colspan=2>
      </td>
    </tr>
  </table>
  <br>
<% end if @source_codes.present? %>
