<style> 
 </style>

<h1>Process Code Run Results</h1>
<h2><%= t('misc.source_code') %></h2>

<table class="table">
  <thead>
    <tr>
      <th class="all"><input :select_all, { type="checkbox", class="largerCheckbox", id="select_all", value="ALL"}>&nbsp;</th>
      <th scope="col", style='height: 100px; vertical-align:middle'>Code ID</th>
      <th scope="col", style='height: 100px; vertical-align:middle'>Full ID</th>
      <th scope="col", style='height: 100px; vertical-align:middle'>File Name</th>
      <th scope="col", style='height: 100px; vertical-align:middle'>Module</th>
      <th scope="col", style='height: 100px; vertical-align:middle'>Function</th>
    </tr>
  </thead>

  <tbody>
    <% @source_codes.each do |source_code| %>
      <tr>
        <% if source_code.selected %>
          <td><input id=source_code.id name=source_code.id type="checkbox" class="largerCheckbox" checked value="<%= source_code.id %>" /></td>
        <% else %>
          <td><input id=source_code.id name=source_code.id type="checkbox" class="largerCheckbox" value="<%= source_code.id %>"/></td>
        <% end %>
        <td><%= source_code.fullcodeid %></td>
        <td><%= source_code.file_name %></td>
        <td style="max-width: 200px !important; word-wrap: break-word !important;">
          <% if source_code.url_type.present? && source_code.url_link.present? %>
            <% if source_code.url_type == 'ATTACHMENT' && source_code.upload_file.attached? %>
              <%= link_to source_code.upload_file.filename, url_for(source_code.upload_file) + '?new_window=true', target: :_blank %>
            <% else %>
              <% description = source_code.url_description %>

              <% unless description.present? %>
                <% if source_code.url_type == 'PACT' %>
                  <% description = source_code.filename %>
                <% else %>
                  <% description = source_code.url_link %>
                <% end %>
              <% end %>

              <% if source_code.url_link =~ /^http[s]{0,1}:\/\/.+$/ %>
                <%= link_to description, source_code.url_link + '?new_window=true', target: :_blank %>
              <% else %>
                <%= description %>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td><%= source_code.module %></td>
        <td><%= simple_format(source_code.function) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= simple_form_for(:source_code, { class: 'form-horizontal', :action => item_source_codes_process_results_path(@item), :method => "put", :id => "process=results" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.file_field :upload_file %>
    <%= f.input :selected, :as => :hidden %>
  </div>

  <div class="form-actions">
    <input type='submit' value='Process Code Run Results' onclick='process_source_codes();' class='btn btn-primary'' />
    <%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)', class: 'btn' %>

    <% if @undo_path.present? && !session[:archives_visible].present? %>
      <%= link_to 'Undo', @undo_path, class: 'btn btn-default', title: @undo_message %>
    <% end %>

    <% if @redo_path.present? && !session[:archives_visible].present? %>
      <%= link_to 'Redo', @redo_path, class: 'btn btn-default', title: @redo_message %>
    <% end %>
  </div>
<% end %>

<script>
function process_source_codes()
{
  var selectedField = document.getElementById("source_code_selected");
  var selected      = "";

  $("input[type=checkbox]").each(function(){
    if ($(this).prop('checked'))
    {
      var value = $(this).prop('value');

      if (value !== "ALL") {
        if (selected !== "")
          selected += "," + value;
        else
          selected = value;
      }
    }
  });

  selectedField.value = selected;

  return(true);
}

$(document).ready(function()
{
  $("th.all").change(function()
  {
    var checked = false;

    if (document.getElementById("select_all").checked)
      checked = true;
    else
      checked = false;

    $("input[type=checkbox]").prop('checked', checked);
  });
});
</script>
