<%= simple_form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.error_notification %>
  <%= f.input :email %>
  <%= f.input :firstname %>
  <%= f.input :lastname %>
  <%= f.input :title, as: :string %>
  <%= f.input :phone, as: :string %>

  <% if (controller.action_name == 'new') || (@user.email == current_user.email) || (current_user.organization == 'global') %>
    <%= f.input :password, required: false %>
  <% end %>

  <%= f.input :time_zone %>
  Signature File:
  <%= f.file_field :signature_file %>
<br>
  Profile Picture:
  <%= f.file_field :profile_picture %>
  <%= f.input :notify_on_changes %>

  <% if current_user.fulladmin %>
    <% if current_user.organization == 'global' %>
      <%= f.input :organization, collection: Licensee.all, value_method: :identifier, label_method: :name, include_blank: false %>
      <%= f.input :organizations, label: 'User can switch to:', collection: @organizations, value_method: :identifier, label_method: :name, input_html: { multiple: true }, include_blank: true %>
      <%= f.input :role, collection: User::User_Roles, input_html: { multiple: true }, include_blank: true %>
      <%= f.input :fulladmin %>
    <% else %>
      <%= f.input :organization, as: :hidden %>
      <%= f.input :role, collection: User::Organization_Roles, input_html: { multiple: true }, include_blank: true %>
    <% end %>

    <%= f.input :use_multifactor_authentication, collection:  Constants::Multifactor_Authentication_hash, include_blank: false, label: 'Multifactor Authentication'  %> 
    <%= f.input :user_disabled %>
    <%= f.input :password_reset_required %>
  <% end %>

  <%= f.button :submit, data: { "disable-with": t('misc.save') } %>

  <% if @user.id.present? %>
    <%= link_to 'Show', user_path(@user), class: 'btn' %>
    <%= link_to "Change Password", user_change_password_path(@user), class: 'btn' %>
  <% end %>

  <%= link_to 'Back', 'javascript:null', class: "btn", onclick: 'validateBack(1)' %>
<% end %>

<script>
function validatePassword() {
  var password = $('#user_password').val();
  var result   = true;

  if (password.length < 8) {
    alert('The password length must at least be 8 characters.');

    result = false;
  } else {
    if (!password.match(/^.*[A-Z].*$/)) {
     alert('The password must contain an upper case character.');

      result = false;
    } else {
      if (!password.match(/^.*[a-z].*$/)) {
       alert('The password must contain a lower case character.');

        result = false;
      } else {
        if (!password.match(/^.*[0-9].*$/)) {
         alert('The password must contain a number.');

          result = false;
        } else {
          if (!password.match(/^.*[_@!#%^&*|].*$/)) {
           alert('The password must contain a symbol "_!@#$%^&*|"');

            result = false;
          }
        }
      }
    }
  }

  return result;
}

function validateUser()
{
  var roles = $('#user_role').val();
  var result = validatePassword();

  if (result)
  {
    if ((roles === null) || (roles == ""))
    {
      alert("You must select at least one role.");

      result = false;
    }
  }

  return(result);
}

$('form#new_user').submit(function() {
    return (validateUser());
});

$('[id*="edit_user_"]').submit(function() {
    return (validateUser());
});

</script>
