<h2>Change your password</h2>

<%= simple_form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
  <% if @user.present? && @user.errors.present? && @user.errors.messages.present? %>
    <% @user.errors.messages.each do |field, messages| %>
      <h4 style="color: red;">
        <%= field.to_s.titleize %>:
        <% messages.each do |message| %>
          <%= message %>&nbsp;
        <% end %>
        <br>
      </h4>
    <% end %>
  <% else %>
    <%= f.error_notification %>
  <% end %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password,
                label: "New password",
                required: true,
                autofocus: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
  </div>

  <div class="form-actions">
    <input id='user_change_password' name='user_change_password' value='Change my password' type="button" onclick='validate();' class="btn btn-default" />
  </div>
<% end %>

<script>
  $(":input").keydown(function (event) {
      if (event.keyCode == 112)
        validate();
      else if (event.keyCode == 113)
        window.location.assign(window.location.href.replace(/\/\d+\/edit$/, ''));
  }); 

  function validate()
  {
    var form                        = document.forms[0];
    var okay                        = true;
    var messageText                 = "";
    var password_field              = document.getElementById('user_password');
    var password_confirmation_field = document.getElementById('user_password_confirmation');

    if (password_field.value != password_confirmation_field.value)
    {
      okay                          = false;
      messageText                   = 'Passwords Do Not Match';
    }

    if (okay)
    {
      form.submit();
    }
    else
    {
      alert(messageText);
    }

    return(okay);
  }
</script>
