<h2>Copy Users</h2>
<%= render "layouts/display_flash" %>
<%= simple_form_for(@user, url: user_copy_users_path(User.current), html: { method: :post }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :source_organization, label: "From Organization", collection: @organizations, value_method: :identifier, label_method: :name, include_blank: false %>
  </div>

  <div class="form-inputs">
    <%= f.input :destination_organization, label: "To Organization", collection: @organizations, value_method: :identifier, label_method: :name, include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,   "Copy Users", class: "btn btn-default" %>
    <%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)', class: 'btn' %>
  </div>
<% end %>
