<ul class="list-group">
  <li class="list-group-item active">
    <h5><%= @user.fullname %></h5>
  </li>
  <li class="list-group-item">
    <h6><u>Details:</u></h6>
    <p>
      <strong>Name: </strong><%= @user.fullname %><br>
      <strong>Email: </strong><%= @user.email %><br>
      <strong>Title: </strong><%= @user.title %><br>
      <strong>Phone: </strong><%= @user.phone %><br>
      <strong>Current Organization: </strong><%= @user.organization %><br>
      <strong>Available Organizations: </strong><%= @user.organizations.delete_if{ |x| !x.present? }.join(', ') if @user.organizations.present?  %><br>
      <strong>Roles: </strong><%= @user.role.compact.reject(&:empty?).join(', ') %><br>
      <strong>Notify User On Changes: </strong><%= @user.notify_on_changes %><br>
      <strong>User Disabled: </strong><%= @user.user_disabled %><br>
      <strong>Password Reset Required: </strong><%= @user.password_reset_required %><br>

      <% if @user.signature_file.attached? then %>
         <strong>Signature:</strong><%= link_to image_tag(@user.signature_file), url_for(@user.signature_file) %><br>
      <% end %>

      <% if @user.profile_picture.attached? then %>
        <strong>Profile Picture:</strong><%= link_to image_tag(@user.profile_picture), url_for(@user.profile_picture) %><br>
      <% end %>

      <strong>Admin: </strong><%= @user.fulladmin %><br>
      <strong>Created At: </strong><%= @user.remember_created_at %><br>
      <strong>Sign-In Count: </strong><%= @user.sign_in_count %><br>
      <strong>Last Sign in At: </strong><%= @user.last_sign_in_at %><br>
      <strong>Last Sign in IP: </strong><%= @user.last_sign_in_ip %>
    </p>
  </li>
</ul>

<br>
<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-default' %>
<%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)', class: 'btn' %>
