<h2>Switch User</h2>

<%= simple_form_for(@user, url: user_switch_user_path(current_user), html: { method: :post }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :email, collection: User.all.order(:firstname), value_method: :email, label_method: :fullname, include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,   "Switch", class: "btn btn-default" %>
    <%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)', class: 'btn' %>
  </div>
<% end %>
