<style>
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before {}

table th
{
  font-family: verdana !important;
  font-size:   14px    !important;
  line-height: 18px    !important;
}

table td
{
  font-family: verdana !important;
  font-size:   14px    !important;
  line-height: 18px    !important;
}
</style>

<h1>
  Documents <%= t('misc.list') %>
</h1>

<table id="scrollableDataTable" class="table table-striped table-bordered table-sm" cellspacing="0"  width="100%">
  <thead>
    <tr>
      <th class="th-sm"><%= t('document.docid') %></th>
      <th class="th-sm">Name</th>
      <th class="th-sm">Control Category</th>
      <th class="th-sm">Revision</th>
      <th class="th-sm">Draft Version</th>
      <th class="th-sm"><%= t('document.revdate') %></th>
      <th class="th-sm">(Open/Closed) Comments</th>
      <th class="th-sm"></th>
      <th class="th-sm"></th>
      <th class="th-sm"></th>
      <th class="th-sm"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <% parent_id = @parent_document.id if @parent_document.present? %>
      <% next if (document.parent_id != parent_id) && (controller.action_name != "document_history") %>
      <tr>
        <td>
          <% if document.document_type == Constants::FOLDER_TYPE %>
            <%= link_to item_document_path(@item, document) do %>
              <%= material_icon.folder.md_24 %>
              <%= document.docid %>
            <% end %>
          <% else %>
            <% if document.file.present? %>
              <%= link_to item_document_download_document_path(@item, document) + '?new_window=true', target: :_blank  do %>
                <% if document.file_path =~ /^.*\.pdf$/i %>
                  <%= material_icon.picture_as_pdf.md_24 %>
                <% elsif document.file_path =~ /^.*\.(txt|doc|docx|odt)$/i %>
                  <%= material_icon.description.md_24 %>
                <% elsif document.file_path =~ /^.*\.(xls|xlsx|csv|ods)$/i %>
                  <%= material_icon.apps.md_24 %>
                <% elsif document.file_path =~ /^.*\.(jpg|jpeg|png|tiff|bmp|ico|svg)$/i %>
                  <%= material_icon.insert_photo.md_24 %>
                <% elsif document.file_path =~ /^.*\.(jpg|jpeg|png|tiff|bmp|ico|svg)$/i %>
                  <%= material_icon.insert_photo.md_24 %>
                <% elsif document.file_path =~ /^.*\.(vdx|vsd|vsdx)$/i %>
                  <%= material_icon.usb.md_24.r180 %>
                <% elsif document.file_path =~ /^.*\.(ppt|pptx)$/i %>
                  <%= material_icon.slideshow.md_24 %>
                <% elsif document.file_path =~ /^.*\.(mov|wmv|flv|avi|mp4)$/i %>
                  <%= material_icon.movie.md_24 %>
                <% elsif document.file_path =~ /^.*\.(mp3|wav|aiff|wma)$/i %>
                  <%= material_icon.music_note.md_24 %>
                <% elsif document.file_path =~ /^.*\.gif$/i %>
                  <%= material_icon.gif.md_24 %>
                <% elsif document.file_path =~ /^.*\.(zip||gz|7z|tar)$/i %>
                  <%= material_icon.archive.md_24 %>
                <% elsif document.file_path =~ /^.*\.html$/i %>
                  <%= material_icon.http.md_24 %>
                <% elsif document.file_path =~ /^.*\.([ch]|cpp|c++|bat|sh|pl|java|rb|js|php|yml|erb)$/i %>
                  <%= material_icon.code.md_24 %>
                <% else %>
                  <%= material_icon.help.md_24 %>
                <% end %>
 
                <%= document.docid %>
              <% end %>
            <% else %>
              <%= document.docid %>
            <% end %>
          <% end %>
        </td>
        <td><%= document.name %></td>

        <% if Constants::ControlCategory.invert[document.category].nil? && document.category.present? %>
          <td><%= document.category %></td>
        <% else %>
          <td><%= Constants::ControlCategory.invert[document.category] %></td>
        <% end %>

        <td><%= document.revision %></td>
        <td><%= document.draft_revision %></td>
        <td><%= document.revdate %></td>
        <%
          open_count   = DocumentComment.where(document_id: document.id, status: 'Open').count
          closed_count = DocumentComment.where(document_id: document.id, status: 'Closed').count
        %>
        <td><%= link_to "(#{open_count}/#{closed_count}) Comments", document_document_comments_path(document) %></td>
        <td class="td-centered">
          <% if policy(document).show? %>
            <%= link_to item_document_path(@item, document) do %>
              <%= material_icon.zoom_in.md_24 %><br>Show
            <% end %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
        <td class="td-centered">
          <%
              can_delete = policy(document).destroy?                            &&
                           document.archive_id.nil?                             &&
                           !document.revision.present?                          &&
                           !document.review_id                                  &&
                           !((document.document_type == Constants::FOLDER_TYPE) &&
                             (document.name == Constants::ARCHIVED_DOCUMENTS)   ||
                             (document.name == Constants::INSTRUMENTED_CODE))
          %>
          <% if can_delete %>
            <%= link_to [@item, document], method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= material_icon.delete.md_24 %><br>Delete
            <% end %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
        <td class="td-centered">
          <% if policy(document).upload_document? %>
            <%= link_to [:edit, @item, document] do %>
              <%= material_icon.get_app.md_24.r180 %><br>Upload
            <% end %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
        <td class="td-centered">
          <% if policy(document).download_document? %>
            <%= link_to item_document_download_document_path(@item, document) + '?new_window=true', target: :_blank  do %>
              <%= material_icon.get_app.md_24 %><br>Download
            <% end %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document',      new_item_document_path(@item),                    class: "btn btn-primary" %>

<% if policy(:document).select_documents? %>
  <%= link_to 'Package Certification Documents', item_documents_select_documents_path(@item), class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)', class: 'btn' %>

<% if @undo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Undo', @undo_path, class: 'btn btn-default', title: @undo_message %>
<% end %>

<% if @redo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Redo', @redo_path, class: 'btn btn-default', title: @redo_message %>
<% end %>

<script>
  if (document.cookie.match(/scrollTop=(\d+)/))
    $(window).scrollTop(document.cookie.match(/scrollTop=(\d+)/)[1]);

  $(document).ready
  (
    function()
    {
      var first     = true;
      var sortOrder = '[0, "asc"]';

      if (Cookies.get("documents_table_order"))
        sortOrder = Cookies.get("documents_table_order")
    
      if (document.cookie.match(/scrollTop=(\d+)/))
        $(window).scrollTop(document.cookie.match(/scrollTop=(\d+)/)[1]);

      $('#scrollableDataTable').DataTable
      (
        {
          "sDom":           "Rlfrtip",
          "scrollX":        true,
          "scrollY":        "55vh",
          "aLengthMenu":    [[10, 50, 100, -1], [25, 50, 100, "All"]],
          "pageLength":     -1,
          "scrollCollapse": true,
          "paging":         false,
          "ordering":       true,
          "info":           false,
          "drawCallback":   function(settings)
                            {
                              get_order(!first);
                            },
          "order":          JSON.parse(sortOrder)
        }
      );

      $(window).unload(function() {document.cookie = "scrollTop=" + $(window).scrollTop();});

      var tableOrder  = Cookies.get("documents_table_order");

      function get_order(force)
      {
        if (!Cookies.get("documents_table_order") || force)
        {
          var table   = $('#scrollableDataTable').DataTable();
          var date    = new Date();
          var minutes = 30;

          first       = false;

          date.setTime(date.getTime() + (minutes * 60 * 1000));
          Cookies.set('documents_table_order', table.order(), { expires: date });

          return table.order();      
        }
        else
        {
          first       = false;

          return Cookies.get("documents_table_order") ;
        }
      }
    }
  );
</script>