Dear <%= @user.fullname %>:
<p>
A new problem report has been created. Please see below for the details.
</p>
<table style=" width: 100% !important; border: none !important;">
  <thead>
    <tr>
      <th colspan=3 align="left">
        <h4>
          Detail:
        </h4>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        Project:
      </td>
      <td width="70%">
        <%= @project.name %>
      </td>
    </tr>
    <% if @item.present? %>
      <tr>
        <td width="10%">
          &nbsp;
        </td>
        <td width="20%">
          Item/Artifact:
        </td>
        <td width="70%">
          <%= @item.name %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        ID:
      </td>
      <td width="70%">
        <%= @problem_report.prid %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        Title:
      </td>
      <td width="70%">
        <%= raw @problem_report.title %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        Description:
      </td>
      <td width="70%">
        <%= sanitize(@problem_report.description) %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        Opened By:
      </td>
      <td width="70%">
        <%= User.fullname_from_email(@problem_report.openedby) %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        Date Opened:
      </td>
      <td width="70%">
        <%= @problem_report.dateopened %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        Status:
      </td>
      <td width="70%">
        <%= @problem_report.status %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        Product:
      </td>
      <td width="70%">
        <%= @problem_report.product %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        Criticality:
      </td>
      <td width="70%">
        <%= @problem_report.criticality %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        Safety Related:
      </td>
      <td width="70%">
        <%= @problem_report.safetyrelated %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        Source:
      </td>
      <td width="70%">
        <%= @problem_report.source %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        Problem Found In:
      </td>
      <td width="70%">
        <%= @problem_report.problemfoundin %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        Discipline Assigned:
      </td>
      <td width="70%">
        <%= @problem_report.discipline_assigned %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        Target Date:
      </td>
      <td width="70%">
        <%= @problem_report.target_date %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        Meeting ID:
      </td>
      <td width="70%">
        <%= @problem_report.meeting_id %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        Corrective Action:
      </td>
      <td width="70%">
        <%= sanitize(@problem_report.feedback) %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        Verification Comments:
      </td>
      <td width="70%">
        <%= sanitize(@problem_report.notes) %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="20%">
        Problem Report Link:
      </td>
      <td width="70%">
        <%= link_to project_problem_report_url(@project, @problem_report, organization: User.current.organization), project_problem_report_url(@project, @problem_report, organization: User.current.organization) %>
      </td>
    </tr>
  <tbody>
</table>
<p>
PACT Automation<br>
pact_cm@airworthinesscert.com
</p>
