<style>
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before {}

table th
{
  font-family: verdana !important;
  font-size:   14px    !important;
  line-height: 18px    !important;
}

table td
{
  font-family: verdana !important;
  font-size:   14px    !important;
  line-height: 18px    !important;
}
</style>

<h1>Action Items <%= t('misc.list') %></h1>

<table id="scrollableDataTable" class="table table-striped table-bordered table-sm" cellspacing="0"  width="100%">
  <thead>
    <tr>
      <th scope="col">Action Item ID</th>
      <th scope="col">Description</th>
      <th scope="col">Opened By</th>
      <th scope="col">Assigned To</th>
      <th scope="col">Status</th>
      <th scope="col">Note</th>
      <th class="th-sm"></th>
      <th class="th-sm"></th>
      <th class="th-sm"></th>
    </tr>
  </thead>

  <tbody>
    <% @action_items.each do |action_item| %>
      <tr>
        <td><%= action_item.actionitemid %></td>
        <td><%= sanitize action_item.description %></td>
        <td><%= User.fullname_from_email(action_item.openedby) %></td>
        <td><%= User.fullname_from_email(action_item.assignedto) %></td>
        <td><%= action_item.status %></td>
        <td><%= raw action_item.note %></td>
        <td>
          <% if policy(action_item).show? %>
            <%= link_to review_action_item_path(@review, action_item) do %>
              <%= material_icon.zoom_in.md_24 %><br>Show
            <% end %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
        <td class="td-centered">
          <% if (@review.status != 'Closed') && policy(action_item).edit? %>
            <%= link_to edit_review_action_item_path(@review, action_item) do %>
              <%= material_icon.edit.md_24 %><br>Edit
            <% end %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
        <td class="td-centered">
          <% if policy(action_item).destroy? %>
            <%= link_to [@review, action_item], method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= material_icon.delete.md_24 %><br>Delete
            <% end %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if (@review.status != 'Closed') %>
  <%= link_to 'New Action Item',  new_review_action_item_path(@review),     class: 'btn btn-default'  %>
<% end %>

<%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)', class: 'btn' %>

<% if @undo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Undo', @undo_path, class: 'btn btn-default', title: @undo_message %>
<% end %>
<% if @redo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Redo', @redo_path, class: 'btn btn-default', title: @redo_message %>
<% end %>
<script>
  $(document).ready
  (
    function()
    {
      var first     = true;
      var sortOrder = '[0, "asc"]';

      if (Cookies.get("action_items_table_order"))
        sortOrder = Cookies.get("action_items_table_order")
    
      if (document.cookie.match(/scrollTop=(\d+)/))
        $(window).scrollTop(document.cookie.match(/scrollTop=(\d+)/)[1]);

      $('#scrollableDataTable').DataTable
      (
        {
          "sDom":           "Rlfrtip",
          "scrollX":        true,
          "scrollY":        "55vh",
          "aLengthMenu":    [[10, 50, 100, -1], [25, 50, 100, "All"]],
          "pageLength":     -1,
          "scrollCollapse": true,
          "paging":         false,
          "ordering":       true,
          "info":           false,
          "drawCallback":   function(settings)
                            {
                              get_order(!first);
                            },
          "order":          JSON.parse(sortOrder)
        }
      );

      $(window).unload(function() {document.cookie = "scrollTop=" + $(window).scrollTop();});

      var tableOrder  = Cookies.get("action_items_table_order");

      function get_order(force)
      {
        if (!Cookies.get("action_items_table_order") || force)
        {
          var table   = $('#scrollableDataTable').DataTable();
          var date    = new Date();
          var minutes = 30;

          first       = false;

          date.setTime(date.getTime() + (minutes * 60 * 1000));
          Cookies.set('action_items_table_order', table.order(), { expires: date });

          return table.order();      
        }
        else
        {
          first       = false;

          return Cookies.get("action_items_table_order") ;
        }
      }
    }
  );
</script>