<ul class="list-group">
  <li class="list-group-item active">
    <h5>
      <%= "Action Item ID: #{@action_item.actionitemid}" %>
    </h5>
  </li>
  <li class="list-group-item">
    <p>
      <strong>Description:</strong>
      <%= simple_format(@action_item.description) %>
    </p>
    
    <p>
      <strong>Opened By:</strong>
      <%= User.fullname_from_email(@action_item.openedby) %>
    </p>

    <p>
      <strong>Assigned To:</strong>
      <%= User.fullname_from_email(@action_item.assignedto) %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @action_item.status %>
    </p>
    
    <p>
      <strong>Notes:</strong>
      <%= simple_format(@action_item.note) %>
    </p>
    
    <p>
      <strong>Item:</strong>
      <% if @action_item.item %>
        <%= @action_item.item.name %>
      <% else %>
        None Associated
      <% end %>
    </p>
    
    <p>
      <strong>Project:</strong>
      <%= @action_item.project.name %>
    </p>
  </li>
</ul>

<% if (@review.status != 'Closed') %>
  <%= link_to 'Edit', edit_review_action_item_path(@review, @action_item), class: 'btn btn-default'  %>
  <%= link_to 'New Action Item',  new_review_action_item_path(@review),    class: 'btn btn-default'  %>
<% end %>

<%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)',                                     class: 'btn btn-default' %>

<% if @undo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Undo', @undo_path, class: 'btn btn-default', title: @undo_message %>
<% end %>

<% if @redo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Redo', @redo_path, class: 'btn btn-default', title: @redo_message %>
<% end %>

