<ul class="list-group">
  <li class="list-group-item active">
    <h5>
      <%= "#{t('testcases.caseid')}: #{@test_case.fullcaseid}" %>
    </h5>
  </li>
  <li class="list-group-item">
    <p>
      <strong><%= t('testcases.procedure') %>:</strong>
      <%= @test_case.description %>

      <% if @test_case.model_file_id.present? && @test_case.model_file.upload_file.attached? %>
        <%= link_to image_tag(@test_case.model_file.upload_file, :size => '25%xauto'), item_model_file_display_path(@test_case.model_file.item_id, @test_case.model_file) + '?new_window=true', target: :_blank %>
      <% elsif @test_case.document_id.present? && @test_case.document.file.attached? %>
        <%= link_to image_tag(@test_case.document.file), item_document_display_path(@item, @test_case.document) + '?new_window=true', target: :_blank  %>
      <% end %>
    </p>

    <p>
      <strong><%= t('misc.desc') %>:</strong>
      <%= @test_case.procedure.to_s.html_safe %>
    </p>
    
    <p>
      <strong><%= t('hlrs.robust') %>:</strong>
      <%= @test_case.robustness %>
    </p>

    <p>
      <strong>Linked <%= Item.item_type_title(@item, :high_level, :plural) %>:</strong><br>
      <% @test_case.high_level_requirements.each do |hlr| %>
        <%= display_full_id(hlr, @item) %><br>
      <% end %>
    </p>

    <p>
      <strong>Linked <%= Item.item_type_title(@item, :low_level, :plural) %>:</strong><br>
      <% @test_case.low_level_requirements.each do |llr| %>
        <%= display_full_id(llr, @item) %><br>
      <% end %>
    </p>

    <p>
      <strong><%= t('testcases.testmethod') %>:</strong>
      <%= @test_case.testmethod %>
    </p>
    
    <p>
      <strong><%= t('versioning.versionid') %>:</strong>
      <%= @test_case.version %>
    </p>
    
    <p>
      <strong>Item:</strong>
      <%= @test_case.item.name %>
    </p>
    
    <p>
      <strong>Project:</strong>
      <%= @test_case.project.name %>
    </p>
  </li>
</ul>

<% unless session[:archives_visible].present? %>
  <%= link_to 'Edit', edit_item_test_case_path(@item, @test_case), class: 'btn btn-default' %>
  <%= link_to 'New Test Case', new_item_test_case_path(@item),  class: "btn btn-primary", style: "color:white" %>
<% end %>

<%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)', class: 'btn' %>

<% if @undo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Undo', @undo_path, class: 'btn btn-default', title: @undo_message %>
<% end %>

<% if @redo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Redo', @redo_path, class: 'btn btn-default', title: @redo_message %>
<% end %>

<%
    if @test_case_ids.present?
      current_index = @test_case_ids.find_index(@test_case.id)
      previous_id   = @test_case_ids[current_index - 1] if current_index > 0
      next_id       = @test_case_ids[current_index + 1] if current_index < (@test_case_ids.length - 1)
    end
 %>

<% if previous_id.present? %>
  <% if (params[:previous_mode] == 'editing') && policy(@test_case).edit? %>
    <%= link_to('Previous', edit_item_test_case_path(@item, previous_id), class: 'btn btn-default') %>
  <% else %>
    <%= link_to('Previous', item_test_case_path(@item, previous_id),      class: 'btn btn-default') %>
  <% end %>
<% end %>

<% if next_id.present? %>
  <% if (params[:previous_mode] == 'editing') && policy(@test_case).edit? %>
    <%= link_to('Next',     edit_item_test_case_path(@item, next_id),     class: 'btn btn-default') %>
  <% else %>
    <%= link_to('Next',     item_test_case_path(@item, next_id),          class: 'btn btn-default') %>
  <% end %>
<% end %>
