<br>
<h5 class="text-center">
<% if defined?(thirdcomparetext) && thirdcomparetext.present? %>
  <%= firstcomparetext %> to <%= secondcomparetext %> and <%= thirdcomparetext %>
<% else %>
  <%= firstcomparetext %> to <%= secondcomparetext %></h5><br>
<% end %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col" style="text-align: center !important;"><%= firstcomparetext %></th>
      <th scope="col" style="text-align: center !important;"><%= secondcomparetext %></th>
      <% if defined?(threecolumns) && defined?(thirdcomparetext) && thirdcomparetext.present? %>
        <th scope="col"><%= thirdcomparetext %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
