<style>
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:before {}

table th
{
  font-family: verdana !important;
  font-size:   14px    !important;
  line-height: 18px    !important;
}

table td
{
  font-family: verdana !important;
  font-size:   14px    !important;
  line-height: 18px    !important;
}
</style>

<h1>Document Types</h1>

<table id="scrollableDataTable" class="table table-striped table-bordered table-sm" cellspacing="0"  width="100%">
  <thead>
    <tr>
      <th class="th-sm">Document type</th>
      <th class="th-sm">Description</th>
      <th class="th-sm">Item types</th>
      <th class="th-sm">Dal levels</th>
      <th class="th-sm">Control category</th>
      <th class="th-sm"></th>
      <th class="th-sm"></th>
      <th class="th-sm"></th>
    </tr>
  </thead>
  <tbody>
    <% @document_types.each do |document_type| %>
      <tr>
        <td>
          <%= document_type.document_code %>
        </td>
        <td>
          <%= document_type.description %>
        </td>
        <td>
          <% document_type.item_types.each do |item_type| %>
            <% next unless item_type.present? %>
            <%= Constants::DisplayItemType[item_type.to_i] %><br>
          <% end if document_type.item_types.present? %>
        </td>
        <td>
          <% document_type.dal_levels.each do |dal_level| %>
            <% next unless dal_level.present? %>
            <%= dal_level %><br>
          <% end if document_type.dal_levels.present? %>
        </td>
        <td>
          <%= document_type.control_category %>
        </td>
        <td>
          <% if policy(document_type).show? %>
            <%= link_to document_type_path(document_type) do %>
              <%= material_icon.zoom_in.md_24 %><br>Show
            <% end %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
        <td class="td-centered">
          <% if policy(document_type).edit? %>
            <%= link_to edit_document_type_path(document_type) do %>
              <%= material_icon.edit.md_24 %><br>Edit
            <% end %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
        <td class="td-centered">
          <% if policy(document_type).destroy? %>
            <%= link_to [document_type], method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= material_icon.delete.md_24 %><br>Delete
            <% end %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document Type', new_document_type_path, class: 'btn btn-default'  %>
<%= link_to 'Back',              go_back_path(1),  onclick: 'validateBack(1, this)',        class: 'btn' %>

<% if @undo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Undo',            @undo_path,             class: 'btn' %>
<% end %>

<% if @redo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Redo',            @redo_path,             class: 'btn' %>
<% end %>

<script>
  if (document.cookie.match(/scrollTop=(\d+)/))
    $(window).scrollTop(document.cookie.match(/scrollTop=(\d+)/)[1]);

  $(document).ready
  (
    function()
    {
      var first     = true;
      var sortOrder = '[0, "asc"]';

      if (Cookies.get("document_types_table_order"))
        sortOrder = Cookies.get("document_types_table_order")
    
      if (document.cookie.match(/scrollTop=(\d+)/))
        $(window).scrollTop(document.cookie.match(/scrollTop=(\d+)/)[1]);

      $('#scrollableDataTable').DataTable
      (
        {
          "sDom":           "Rlfrtip",
          "scrollX":        true,
          "scrollY":        "55vh",
          "aLengthMenu":    [[10, 50, 100, -1], [25, 50, 100, "All"]],
          "pageLength":     -1,
          "scrollCollapse": true,
          "paging":         false,
          "ordering":       true,
          "info":           false,
          "drawCallback":   function(settings)
                            {
                              get_order(!first);
                            },
          "order":          JSON.parse(sortOrder)
        }
      );

      $(window).unload(function() {document.cookie = "scrollTop=" + $(window).scrollTop();});

      var tableOrder  = Cookies.get("document_types_table_order");

      function get_order(force)
      {
        if (!Cookies.get("document_types_table_order") || force)
        {
          var table   = $('#scrollableDataTable').DataTable();
          var date    = new Date();
          var minutes = 30;

          first       = false;

          date.setTime(date.getTime() + (minutes * 60 * 1000));
          Cookies.set('document_types_table_order', table.order(), { expires: date });

          return table.order();      
        }
        else
        {
          first       = false;

          return Cookies.get("document_types_table_order") ;
        }
      }
    }
  );
</script>
