<ul class="list-group">
  <li class="list-group-item active">
    <h5>
      <%= "Document Type: #{@document_type.document_code}" %>
    </h5>
  </li>
  <li class="list-group-item">
    <p>
      <strong>Description:</strong>
      <%= @document_type.description %>
    </p>
    
    <p>
      <strong>Item types:</strong>
      <% @document_type.item_types.each do |item_type| %>
        <% next unless item_type.present? %>
        <%= Constants::DisplayItemType[item_type.to_i] %><br>
      <% end if @document_type.item_types.present? %>
    </p>

    <p>
      <strong>Dal levels:</strong>
        <% @document_type.dal_levels.each do |dal_level| %>
          <% next unless dal_level.present? %>
          <%= dal_level %><br>
        <% end if @document_type.dal_levels.present? %>
    </p>

    <p>
      <strong>Control category:</strong>
      <%= @document_type.control_category %>
    </p>
  </li>
</ul>

<%= link_to 'Edit',   edit_document_type_path(@document_type), class: 'btn btn-default' %>
<%= link_to 'Back',   go_back_path(1),  onclick: 'validateBack(1, this)',                         class: 'btn' %>

<% if @undo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Undo', @undo_path,                              class:  'btn' %>
<% end %>

<% if @redo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Redo', @redo_path,                              class:  'btn' %>
<% end %>
