<% @template.template_checklist.order(:clid).each do |checklist| %>
  <p>
    <table style="width:7.5in" border="2">
      <tr>
        <td nowrap>
            <strong>Checklist ID:</strong>
        </td>
        <td style="vertical-align: middle;">
            <%= checklist.clid %>
        </td>  
      </tr>
      <tr>
        <td>
          <strong>Title:</strong>
        </td>  
        <td>
          <%= checklist.title %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Description:</strong>
        </td>  
        <td>
          <%= checklist.description %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Notes:</strong>
        </td>
        <td>
          <%= checklist.notes %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Class:</strong>
        </td>
        <td>
          <%= checklist.class %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Type:</strong>
        </td>
        <td>
          <%= checklist.type %>
        </td>
      </tr>
    </table>
  </p>
<% end %>
