<head>
  <title><%= full_title(yield(:title)) %></title>
</head>

<h3><%= Item.item_type_title(@item, :low_level, :plural) %></h3>

<% @low_level_requirements.each do |low_level_requirement| %>
  <table style="width:7.5in" border="2">
    <% if low_level_requirement.soft_delete %>
      <% next %>
    <% end %>
    <tr>
      <td width="25%" style="vertical-align:top">
        <%= low_level_requirement.fullreqid %>
      </td>
      <td colspan="3" width="75%">
        <%= low_level_requirement.description.to_s.html_safe %>

        <% if low_level_requirement.model_file_id.present? && low_level_requirement.model_file.upload_file.attached? %>
          <%= link_to image_tag(low_level_requirement.model_file.upload_file, :size => '25%xauto'), item_model_file_display_path(low_level_requirement.model_file.item_id, low_level_requirement.model_file) + '?new_window=true', target: :_blank %>
        <% elsif low_level_requirement.document_id.present? && low_level_requirement.document.file.attached? %>
          <%= link_to image_tag(low_level_requirement.document.file), item_document_display_path(@item, low_level_requirement.document) + '?new_window=true', target: :_blank %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td width="25%" style="vertical-align:top">
        <%= low_level_requirement.fullreqid %>
      </td>
      <td colspan="3" width="75%">
        <%= low_level_requirement.module_description.to_s.html_safe %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="4" width="100%">
        <%= low_level_requirement.description.to_s.html_safe %>

        <% if low_level_requirement.model_file_id.present? && low_level_requirement.model_file.upload_file.attached? %>
          <%= link_to image_tag(low_level_requirement.model_file.upload_file, :size => '25%xauto'), item_model_file_display_path(low_level_requirement.model_file.item_id, low_level_requirement.model_file) + '?new_window=true', target: :_blank %>
        <% elsif low_level_requirement.document_id.present? && low_level_requirement.document.file.attached? %>
          <%= link_to image_tag(low_level_requirement.document.file), item_document_display_path(@item, low_level_requirement.document) + '?new_window=true', target: :_blank %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td  width="25%" style="vertical-align:top">
        Category:
      </td>
      <td width="25%"  style="vertical-align:top">
        <%= low_level_requirement.category.to_s.html_safe %>
      </td>
      <td width="25%"  style="vertical-align:top">
        Derived:
      </td>
      <td width="25%"  style="vertical-align:top">
        <% if low_level_requirement.derived %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        Verification Method:
      </td>
      <td style="vertical-align:top">
        <% if low_level_requirement.verification_method.instance_of?(Array) %>
          <% low_level_requirement.verification_method.each do |method| %>
            <% next unless method.present? %>
            <%= method %>
            <br>
          <%end %>
        <% elsif low_level_requirement.verification_method.instance_of?(String) %>
          <%= low_level_requirement.verification_method %>
        <% end %>
      </td>
      <td style="vertical-align:top">
        Derived Justification:
      </td>
      <td style="vertical-align:top">
        <%= low_level_requirement.derived_justification.to_s.html_safe %>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        Covers:
      </td>
      <td style="vertical-align:top">
        <% if low_level_requirement.high_level_requirement_associations.present? %>
          <% high_level_requirements = low_level_requirement.high_level_requirement_associations.split(',') %>
          <% high_level_requirements.each do |requirement| %>
            <% next unless requirement.present? %>
            <% if requirement =~ /^\d+$/ %>
              <% high_level_requirement = HighLevelRequirement.find(requirement) %>
              <%= high_level_requirement.fullreqid %>
            <% else %>
              <%= requirement %>
            <% end %>
            <br>
          <%end %>
        <% end %>
      </td>
      <td style="vertical-align:top">
        Safety Related:
      </td>
      <td style="vertical-align:top">
        <% if low_level_requirement.safety %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>
    <tr>
      <td  width="25%" style="vertical-align:top">
        Version:
      </td>
      <td width="25%"  style="vertical-align:top">
        <%= low_level_requirement.version %>
      </td>
      <td width="50%" colspan="2" style="vertical-align:top">
      </td>
    </tr>
  </table>
  <br>
<% end if @low_level_requirements.present? %>
