<style>
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_asc:before {}

  table th
  {
    font-family: verdana !important;
    font-size:   14px    !important;
    line-height: 18px    !important;
  }

  table td
  {
    font-family: verdana !important;
    font-size:   14px    !important;
    line-height: 18px    !important;
  }

  .debug_status
  {
   color: brown !important;
  }

  .info_status
  {
   color: green !important;
  }

  .fatal_status
  {
   color: red; !important;
  }

  .unknown_status
  {
   color: gray !important;
  }
</style>
<h1>Logs</h1>

<table id="scrollableDataTable" class="table table-striped table-bordered table-sm" cellspacing="0"  width="100%">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Event Time</th>
      <th scope="col">Type</th>
      <th scope="col">Message</th>
      <th scope="col">Log ID</th>
      <th scope="col">Log SHA</th>
      <th class="th-sm"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <%
        row_class = case log.log_type
                      when 'FATAL'
                        'fatal_status'
                      when 'DEBUG'
                        'debug_status'
                      when 'DEBUG'
                        'debug_status'
                      else
                        'unknown_status'
                    end
      %>

      <tr>
        <td>
          <%= link_to log_path(log) do %>
            <span class="<%= row_class %>">
              <%= log.id %>
            </span>
          <% end %>
        </td>
        <td>
            <span class="<%= row_class %>">
              <%= log.error_time %></td>
            </span>
        </td>
        <td>
            <span class="<%= row_class %>">
              <%= log.log_type %></td>
            </span>
        </td>
        <td>
            <span class="<%= row_class %>">
              <%= log.log_contents %></td>
            </span>
        </td>
        <td>
            <span class="<%= row_class %>">
              <%= log.log_id %></td>
            </span>
        </td>
        <td>
            <span class="<%= row_class %>">
              <%= log.log_sha %></td>
            </span>
        </td>
        <td class="td-centered">
          <%= link_to log_path(log) do %>
            <%= material_icon.zoom_in.md_24 %><br>Show
          <% end %>
        </td>
      </tr>
    <% end if @logs.present? %>
  </tbody>
</table>

<script>
  $('#scrollableDataTable').DataTable
  (
    {
      "sDom":           "Rlfrtip",
      "scrollX":        true,
      "scrollY":        "55vh",
      "aLengthMenu":    [[10, 50, 100, -1], [25, 50, 100, "All"]],
      "pageLength":     -1,
      "scrollCollapse": true,
      "paging":         false,
      "ordering":       true,
      "info":           false,
    }
  );
</script>
