<head>
  <title><%= full_title(yield(:title)) %></title>
</head>

<h3>
  <%= Item.item_type_title(@item, :high_level, :plural) %>
</h3>

<% @high_level_requirements.each do |high_level_requirement| %>
  <table style="width:7.5in" border="2">
    <% if high_level_requirement.soft_delete %>
      <% next %>
    <% end %>
    <tr>
      <td width="25%" style="vertical-align:top">
        <%= high_level_requirement.fullreqid %>
      </td>
      <td colspan="3" width="75%">
        <%= high_level_requirement.description.to_s.html_safe %>
        <% if high_level_requirement.model_file_id.present? && high_level_requirement.model_file.upload_file.attached? %>
          <%= link_to image_tag(high_level_requirement.model_file.upload_file, :size => '25%xauto'), item_model_file_display_path(high_level_requirement.model_file.item_id, high_level_requirement.model_file) + '?new_window=true', target: :_blank %>
        <% elsif high_level_requirement.document_id.present? && high_level_requirement.document.file.attached? %>
          <%= link_to image_tag(high_level_requirement.document.file), item_document_display_path(@item, high_level_requirement.document) + '?new_window=true', target: :_blank %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td  width="25%" style="vertical-align:top">
        Category:
      </td>
      <td width="25%"  style="vertical-align:top">
        <%= high_level_requirement.category.to_s.html_safe %>
      </td>
      <td width="25%"  style="vertical-align:top">
        Derived:
      </td>
      <td width="25%"  style="vertical-align:top">
        <% if high_level_requirement.derived %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        Verification Method:
      </td>
      <td style="vertical-align:top">
        <% if high_level_requirement.verification_method.instance_of?(Array) %>
          <% high_level_requirement.verification_method.each do |method| %>
            <% next unless method.present? %>
            <%= method %>
            <br>
          <%end %>
        <% elsif high_level_requirement.verification_method.instance_of?(String) %>
          <%= high_level_requirement.verification_method %>
        <% end %>
      </td>
      <td style="vertical-align:top">
        Derived Justification:
      </td>
      <td style="vertical-align:top">
        <%= high_level_requirement.derived_justification.to_s.html_safe %>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        Version:
      </td>
      <td style="vertical-align:top">
        <%= high_level_requirement.version %>
      </td>
      <td style="vertical-align:top">
        Safety Related:
      </td>
      <td style="vertical-align:top">
        <% if high_level_requirement.safety %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        Covers:
      </td>
      <td style="vertical-align:top">
        <% if high_level_requirement.system_requirement_associations.present? %>
          <% system_requirements = high_level_requirement.system_requirement_associations.split(',') %>
          <% system_requirements.each do |requirement| %>
            <% next unless requirement.present? %>
            <% system_requirement = SystemRequirement.find_by(id: requirement) %>
            <% if system_requirement.present? && requirement =~ /^\d+$/ %>
              <%= system_requirement.fullreqid %>
            <% else %>
              <%= requirement %>
            <% end %>
            <br>
          <%end %>
        <% end %>
      </td>
      <td style="vertical-align:top">
        Robustness:
      </td>
      <td style="vertical-align:top">
        <% if high_level_requirement.robustness %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>
  </table>
  <br>
<% end if @high_level_requirements.present? %>
