<ul class="list-group">
  <li class="list-group-item active">
    <h5>
      <%= Item.item_type_title(@item, :high_level) %> ID: <%= @high_level_requirement.fullreqid %>
      </h5>
  </li>
  <li class="list-group-item">
    <h6><u>Details:</u></h6>
    <p>
      <strong>Description:</strong>
      <%= @high_level_requirement.description.to_s.html_safe %>
      <% if @high_level_requirement.model_file_id.present? && @high_level_requirement.model_file.upload_file.attached? %>
        <%= link_to image_tag(@high_level_requirement.model_file.upload_file, :size => '25%xauto'), item_model_file_display_path(@high_level_requirement.model_file.item_id, @high_level_requirement.model_file) + '?new_window=true', target: :_blank %>
      <% elsif @high_level_requirement.document_id.present? && @high_level_requirement.document.file.attached? %>
        <%= link_to image_tag(@high_level_requirement.document.file), item_document_display_path(@item, @high_level_requirement.document) + '?new_window=true', target: :_blank %>
      <% end %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @high_level_requirement.category %>
    </p>

    <p>
      <strong>Verification Method:</strong>

      <% if @high_level_requirement.verification_method.instance_of?(Array) %>
        <%= @high_level_requirement.verification_method.delete_if{ |x| !x.present? }.join(',') %>
      <% elsif @high_level_requirement.verification_method.instance_of?(String) %>
        <%= @high_level_requirement.verification_method %>
      <% end %>
    </p>

    <p>
      <strong>Safety:</strong>
      <%= @high_level_requirement.safety %>
    </p>

    <p>
      <strong>Robustness:</strong>
      <%= @high_level_requirement.robustness %>
    </p>

    <p>
      <strong>Derived:</strong>
      <%= @high_level_requirement.derived %>
    </p>

    <p>
      <strong>Derived Justification:</strong>
      <%= @high_level_requirement.derived_justification %>
    </p>

    <p>
      <strong>Linked System Requirements:</strong><br>
      <% @high_level_requirement.system_requirements.each do |sysreqs| %>
        <%= sysreqs.fullreqid %><br>
      <% end %>
    </p>

    <p>
      <strong>Linked <%= Item.item_type_title(@item, :high_level, :plural) %>:</strong><br>
      <% if @high_level_requirement.high_level_requirement_associations.present? %>
        <% hlrs = @high_level_requirement.high_level_requirement_associations.split(',') %>

        <% hlrs.each do |hlr| %>
          <% next unless hlr.present? %>

          <% high_level_requirement = HighLevelRequirement.find(hlr) %>
          <%= display_full_id(high_level_requirement, @item) %><br>
        <% end %>
      <% end %>
    </p>
    
    <p>
      <strong><%= t('versioning.versionid') %>:</strong>
      <%= @high_level_requirement.version %>
    </p>

    <p>
      <strong>Item:</strong>
      <%= @high_level_requirement.item.name %>
    </p>

    <p>
      <strong>Project:</strong>
      <%= @high_level_requirement.project.name %>
    </p>
  </li>
</ul>

<br>
<% unless session[:archives_visible].present? %>
  <%= link_to 'Edit', edit_item_high_level_requirement_path(@item, @high_level_requirement), class: 'btn btn-default' %>
  <%= link_to "New #{Item.item_type_title(@item, :high_level, :singular)}", new_item_high_level_requirement_path(@item), class: "btn btn-primary", style: "color:white" %>
<% end %>

<%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)', class: 'btn' %>

<% if @undo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Undo', @undo_path, class: 'btn btn-default', title: @undo_message %>
<% end %>

<% if @redo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Redo', @redo_path, class: 'btn btn-default', title: @redo_message %>
<% end %>

<%
    if @high_level_requirement_ids.present?
      current_index = @high_level_requirement_ids.find_index(@high_level_requirement.id)
      previous_id   = @high_level_requirement_ids[current_index - 1] if current_index > 0
      next_id       = @high_level_requirement_ids[current_index + 1] if current_index < (@high_level_requirement_ids.length - 1)
    end
 %>

<% if previous_id.present? %>
  <% if (params[:previous_mode] == 'editing') && policy(@high_level_requirement).edit? %>
    <%= link_to('Previous', edit_item_high_level_requirement_path(@item, previous_id), class: 'btn btn-default') %>
  <% else %>
    <%= link_to('Previous', item_high_level_requirement_path(@item, previous_id),      class: 'btn btn-default') %>
  <% end %>
<% end %>

<% if next_id.present? %>
  <% if (params[:previous_mode] == 'editing') && policy(@high_level_requirement).edit? %>
    <%= link_to('Next',     edit_item_high_level_requirement_path(@item, next_id),     class: 'btn btn-default') %>
  <% else %>
    <%= link_to('Next',     item_high_level_requirement_path(@item, next_id),          class: 'btn btn-default') %>
  <% end %>
<% end %>
