<% if current_user and current_user.present? %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "All Projects", projects_path(clear_archives: true) %></li>
      <% if session[:archives_visible].kind_of?(Integer) && session[:archived_project].kind_of?(Integer) %>
        <%
            url   = project_archives_path(Archive.parent_project_id_from_archive_id(session[:archives_visible]))
            title = case session[:archive_type]
                      when Constants::SYSTEM_REQUIREMENTS_ARCHIVE,
                           Constants::HIGH_LEVEL_REQUIREMENTS_ARCHIVE,
                           Constants::LOW_LEVEL_REQUIREMENTS_ARCHIVE,
                           Constants::SOURCE_CODE_ARCHIVE,
                           Constants::TEST_CASE_ARCHIVE,
                           Constants::TEST_PROCEDURE_ARCHIVE,
                           Constants::MODULE_DESCRIPTION_ARCHIVE
                        'Baseline'
                      else
                        'Archive'
                      end
         %>
        <li class="breadcrumb-item"><%= link_to title, url %></li>
      <% elsif session[:archives_visible] %>
        <li class="breadcrumb-item"><%= link_to "Archived Projects", projects_path %></li>
      <% end %>
      <% case(controller.controller_name) %>
         <% when "action_items" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>

                <% if @review.try(:title) %>
                  <li class="breadcrumb-item"><%= link_to @review.title, item_review_path(@item, @review) %></li>

                  <% if controller.action_name != 'index' %>
                    <li class="breadcrumb-item"><%= link_to 'Action Items', review_action_items_path(@review) %></li>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
         <% when "archives" %>
            <% if @project.try(:name) && !session[:archives_visible] %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if controller.action_name != 'index' %>
                <li class="breadcrumb-item"><%= link_to 'Archives', project_archives_path(@project) %></li>
              <% end %>
            <% end %>
         <% when "checklist_items" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>

                <% if @review.try(:title) %>
                  <li class="breadcrumb-item"><%= link_to @review.title, item_review_path(@item, @review) %></li>

                  <% if controller.action_name != 'index' %>
                    <li class="breadcrumb-item"><%= link_to 'Checklist Items', review_checklist_items_path(@review) %></li>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
         <% when "code_checkmark_hits" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>
                <li class="breadcrumb-item"><%= link_to t('misc.source_code'), item_source_codes_path(@item) %></li>

                <% if @code_checkmark.try(:id)  && @item.try(:id) %>
                  <li class="breadcrumb-item"><%= link_to @code_checkmark.checkmark_id, item_source_codes_path(@item) %></li>
                <% end %>

                <li class="breadcrumb-item"><%= link_to 'Profile', item_source_codes_profile_path(@item) %></li>
              <% end %>
            <% end %>

            <% if (controller.action_name != 'index') && @code_checkmark.try(:id) %>
              <li class="breadcrumb-item"><%= link_to 'Code Checkmark Hits', code_checkmark_code_checkmark_hits_path(@code_checkmark) %></li>
            <% end %>
         <% when "code_checkmarks" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>
                <li class="breadcrumb-item"><%= link_to t('misc.source_code'), item_source_codes_path(@item) %></li>
                <li class="breadcrumb-item"><%= link_to 'Profile', item_source_codes_profile_path(@item) %></li>
              <% end %>
            <% end %>

            <% if controller.action_name != 'index' %>
              <li class="breadcrumb-item"><%= link_to 'Code Checkmarks', code_checkmarks_path %></li>
            <% end %>
         <% when "document_comments" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>

                <% if @review.try(:title) %>
                  <li class="breadcrumb-item"><%= link_to @review.title, item_review_path(@item, @review) %></li>
                <% end %>

                <% if @document.try(:name) %>
                  <li class="breadcrumb-item"><%= link_to 'Documents', item_documents_path(@item) %></li>
                  <li class="breadcrumb-item"><%= link_to @document.name, document_path(@document) %></li>

                  <% if controller.action_name != 'index' %>
                    <li class="breadcrumb-item"><%= link_to 'Document Comments', document_document_comments_path(@document) %></li>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
         <% when "document_types" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>
            <% end %>
            <% if controller.action_name != 'index' %>
              <li class="breadcrumb-item"><%= link_to 'Document Types', document_types_path %></li>
            <% end %>
         <% when "documents" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>

                <% if controller.action_name == 'document_history' %>
                  <li class="breadcrumb-item"><%= link_to 'Documents', item_documents_path(@item) %></li>
                  <li class="breadcrumb-item"><%= link_to @document.name, item_document_path(@item, @document) %></li>
                <% elsif controller.action_name == 'document_comments' %>
                  <li class="breadcrumb-item"><%= link_to 'Documents', item_documents_path(@item) %></li>
                  <li class="breadcrumb-item"><%= link_to @document.name, item_document_path(@item, @document) %></li>
                <% elsif controller.action_name != 'index'%>
                  <li class="breadcrumb-item"><%= link_to 'Documents', item_documents_path(@item) %></li>
                <% end %>
              <% end %>
            <% end %>
         <% when "github_accesses" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>

                <% if @source_code.try(:full_id) %>
                  <li class="breadcrumb-item"><%= link_to @source_code.full_id, item_source_codes_path(@item) %></li>
                <% end %>
              <% end %>
            <% end %>

            <% if controller.action_name != 'index' %>
              <li class="breadcrumb-item"><%= link_to 'Github Credentials', github_accesses_path %></li>
            <% end %>
         <% when "gitlab_accesses" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>

                <% if @source_code.try(:full_id) %>
                  <li class="breadcrumb-item"><%= link_to @source_code.full_id, item_source_codes_path(@item) %></li>
                <% end %>
              <% end %>
            <% end %>

            <% if controller.action_name != 'index' %>
              <li class="breadcrumb-item"><%= link_to 'Gitlab Credentials', gitlab_accesses_path %></li>
            <% end %>
         <% when "high_level_requirements" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>

                <% if controller.action_name != 'index' %>
                  <li class="breadcrumb-item"><%= link_to Item.item_type_title(@item, :high_level, :plural), item_high_level_requirements_path(@item) %></li>
                <% end %>
              <% end %>
            <% end %>
         <% when "items" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if controller.action_name != 'index' %>
                <li class="breadcrumb-item"><%= link_to 'Items', project_items_path(@project) %></li>
              <% end %>
            <% end %>
         <% when "licensees" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>
            <% end %>

            <% if controller.action_name != 'index' %>
              <li class="breadcrumb-item"><%= link_to 'Licensees', licensees_path %></li>
            <% end %>
         <% when "low_level_requirements" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>
            <% end %>
            <% if @item.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>
            <% end %>
         <% when "problem_report_attachments" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @problem_report.try(:title) %>
                <li class="breadcrumb-item"><%= link_to @problem_report.title, project_problem_reports_path(@project) %></li>

                <% if controller.action_name != 'index' %>
                  <li class="breadcrumb-item"><%= link_to 'Problem Report Attachments', problem_report_problem_report_attachments_path(@problem_report) %></li>
                <% end %>
              <% end %>
            <% end %>
         <% when "problem_report_histories" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @problem_report.try(:title) %>
                <li class="breadcrumb-item"><%= link_to @problem_report.title, project_problem_report_path(@project,  @problem_report) %></li>
                <li class="breadcrumb-item"><%= link_to 'Problem Report Histories', problem_report_problem_report_histories_path(@problem_report) %></li>
              <% end %>
            <% end %>
         <% when "problem_reports" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.present? && @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>
              <% end %>

              <% if controller.action_name != 'index' %>
                <li class="breadcrumb-item"><%= link_to 'Problem Reports', project_problem_reports_path(@project) %></li>
              <% end %>
            <% end %>
         <% when "projects" %>
            <% if (controller.action_name != 'index') && @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>
            <% end %>
         <% when "requirements_baselines" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>
                <% if @requirements_baseline.try(:name) &&  @requirements_baseline.try(:id) %>
                  <li class="breadcrumb-item"><%= link_to @requirements_baseline.name, project_requirements_baseline_path(@project, @requirements_baseline) %></li>
                <% end %>

                <% case @archive_type %>
                  <% when Constants::MODEL_ARCHIVE %>
                  <% when Constants::SYSTEM_REQUIREMENTS_ARCHIVE %>
                  <%
                     when Constants::HIGH_LEVEL_REQUIREMENTS_ARCHIVE,
                          Constants::LOW_LEVEL_REQUIREMENTS_ARCHIVE,
                          Constants::SOURCE_CODE_ARCHIVE,
                          Constants::TEST_CASE_ARCHIVE,
                          Constants::TEST_PROCEDURE_ARCHIVE,
                          Constants::MODULE_DESCRIPTION_ARCHIVE
                   %>
                      <% if @item.try(:name) %>
                        <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>
                      <% end %>
                <% end %>
                <% if controller.action_name != 'index' %>
                  <li class="breadcrumb-item"><%= link_to 'Requirements Baselines', project_requirements_baselines_path(@project) %></li>
                <% end %>
            <% end %>
         <% when "requirements_tracing" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>

                <% if controller.action_name != 'index' %>
                  <li class="breadcrumb-item"><%= link_to 'Requirements Tracing', item_requirements_tracing_path(@item) %></li>
                <% end %>
              <% end %>
            <% end %>
         <% when "review_attachments" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>

                <% if @review.try(:title) %>
                  <li class="breadcrumb-item"><%= link_to @review.title, item_review_path(@item, @review) %></li>

                  <% if controller.action_name != 'index' %>
                    <li class="breadcrumb-item"><%= link_to 'Review Attachments', review_review_attachments_path(@review) %></li>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
         <% when "reviews" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>

                <% if @review.try(:title) %>
                  <% if controller.action_name == 'consolidated_checklist' %>
                    <li class="breadcrumb-item"><%= link_to @review.title, item_review_path(@item, @review) %></li>
                  <% elsif controller.action_name == 'export_consolidated_checklist' %>
                    <li class="breadcrumb-item"><%= link_to @review.title, item_review_path(@item, @review) %></li>
                    <li class="breadcrumb-item"><%= link_to 'Consolidated Checklist', review_consolidated_checklist_path(@review) %></li>
                  <% elsif controller.action_name == 'signin' %>
                    <li class="breadcrumb-item"><%= link_to @review.title, item_review_path(@item, @review) %></li>
                  <% end %>
                <% elsif controller.action_name != 'index' %>
                  <li class="breadcrumb-item"><%= link_to 'Reviews', item_reviews_path(@item) %></li>
                <% end %>
              <% end %>
            <% end %>
         <% when "model_files" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>

                <% if controller.action_name != 'index' %>
                  <li class="breadcrumb-item"><%= link_to t('misc.model_files'), item_model_files_path(@item) %></li>
                <% end %>
              <% end %>
            <% end %>
         <% when "source_codes" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>

                <% if controller.action_name != 'index' %>
                  <li class="breadcrumb-item"><%= link_to t('misc.source_code'), item_source_codes_path(@item) %></li>
                <% end %>

                <% if controller.action_name == 'select_github_files' %>
                  <li class="breadcrumb-item"><%= link_to 'Scan Github Files', item_source_codes_scan_github_path(@item) %></li>
                <% elsif controller.action_name == 'select_gitlab_files'%>
                  <li class="breadcrumb-item"><%= link_to 'Scan Gitlab Files', item_source_codes_scan_github_path(@item) %></li>
                <% end %>
              <% end %>
            <% end %>
         <% when "system_requirements" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if controller.action_name != 'index' %>
                <li class="breadcrumb-item"><%= link_to t('misc.system_requirements'), project_system_requirements_path(@project) %></li>
              <% end %>
            <% end %>
         <% when "template_checklist_items" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>
            <% end %>
            <% if @template.try(:source) == Constants::AWC && params[:awc].kind_of?(Integer)%>
                <li class="breadcrumb-item"><%= link_to 'ACS Template', template_path(@template, params[:awc]) %></li>
            <% elsif @template.try(:title) && params[:awc].kind_of?(Integer) %>
              <li class="breadcrumb-item"><%= link_to @template.title, template_path(@template, params[:awc]) %></li>
            <% elsif @template.try(:id) && params[:awc].kind_of?(Integer) %>
              <li class="breadcrumb-item"><%= link_to 'Organization Templates', template_path(@template, params[:awc]) %></li>
            <% end %>
            <% if @template.try(:id) && params[:awc].kind_of?(Integer) %>
              <li class="breadcrumb-item"><%= link_to 'Template Checklists', template_template_checklists_path(@template, params[:awc]) %></li>
            <% end %>
            <% if @template_checklist.try(:title) && params[:awc].kind_of?(Integer) %>
              <li class="breadcrumb-item"><%= link_to @template_checklist.title, template_template_checklist_path(@template, @template_checklist, params[:awc]) %></li>
            <% end %>
            <% if (controller.action_name != 'index') && @template.try(:id) && @template_checklist.try(:id) && params[:awc].kind_of?(Integer) %>
              <li class="breadcrumb-item"><%= link_to 'Template Checklist Items', template_template_checklist_template_checklist_items_path(@template, @template_checklist, params[:awc]) %></li>
            <% end %>
         <% when "template_checklists" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>
            <% end %>
            <% if @template.try(:source) == Constants::AWC && params[:awc].kind_of?(Integer) %>
                <li class="breadcrumb-item"><%= link_to 'ACS Template', template_path(@template, params[:awc]) %></li>
            <% elsif @template.try(:title) && params[:awc].kind_of?(Integer) %>
              <li class="breadcrumb-item"><%= link_to @template.title, template_path(@template, params[:awc]) %></li>
            <% elsif @template.try(:id) && params[:awc].kind_of?(Integer) %>
              <li class="breadcrumb-item"><%= link_to 'Organization Templates', template_path(@template, params[:awc]) %></li>
            <% end %>
            <% if controller.action_name != 'index' && @template.try(:id) && params[:awc].kind_of?(Integer) %>
              <li class="breadcrumb-item"><%= link_to 'Template Checklists', template_template_checklists_path(@template, params[:awc]) %></li>
            <% end %>
         <% when "template_documents" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>
            <% end %>
            <% if @template.try(:source) == Constants::AWC && params[:awc].kind_of?(Integer) %>
              <li class="breadcrumb-item"><%= link_to 'ACS Template', template_path(@template, params[:awc]) %></li>
            <% elsif @template.try(:title) && params[:awc].kind_of?(Integer) %>
              <li class="breadcrumb-item"><%= link_to @template.title, template_path(@template, params[:awc]) %></li>
            <% elsif @template.try(:id) && params[:awc].kind_of?(Integer) %>
              <li class="breadcrumb-item"><%= link_to 'Organization Templates', template_path(@template, params[:awc]) %></li>
            <% end %>
            <% if controller.action_name != 'index' && @template.try(:id) && params[:awc].kind_of?(Integer) %>
              <li class="breadcrumb-item"><%= link_to 'Template Documents', template_template_documents_path(@template, params[:awc]) %></li>
            <% end %>
         <% when "templates" %>
            <% if controller.action_name != 'index' && params[:awc].kind_of?(Integer) %>
              <li class="breadcrumb-item"><%= link_to 'Templates', templates_path(params[:awc]) %></li>
            <% end %>
         <% when "test_cases" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>

                <% if controller.action_name != 'index' %>
                  <li class="breadcrumb-item"><%= link_to t('misc.test_cases'), item_test_cases_path(@item) %></li>
                <% end %>
              <% end %>
            <% end %>
         <% when "test_procedures" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>

                <% if controller.action_name != 'index' %>
                  <li class="breadcrumb-item"><%= link_to t('misc.test_procedures'), item_test_procedures_path(@item) %></li>
                <% end %>
              <% end %>
            <% end %>
         <% when "module_descriptions" %>
            <% if @project.try(:name) %>
              <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>

              <% if @item.try(:name) %>
                <li class="breadcrumb-item"><%= link_to @item.name, project_item_path(@project, @item) %></li>

                <% if controller.action_name != 'index' %>
                  <li class="breadcrumb-item"><%= link_to t('module_description.pl_title'), item_module_descriptions_path(@item) %></li>
                <% end %>
              <% end %>
            <% end %>
         <% when "users" %>
            <% if controller.action_name != 'index' %>
              <li class="breadcrumb-item"><%= link_to 'Users', users_path %></li>
            <% end %>
      <% end %>
    </ol>
  </nav>
<% end %>
