<!DOCTYPE html>
<html>
  <% if File.exist?("#{Rails.root}/alert") %>
    <P>
    <h1><marquee><%=raw File.readlines("#{Rails.root}/alert").join("<BR>") %></marquee></h1>
    </P>
  <% end %>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/details' %>
    <div>
      <% if alert %>
        <p id=alert\ class="alert alert-danger"><%= alert %></p>
      <% end %>
      <% if notice %>
        <p id="notice" class="alert alert-success"><%= notice %></p>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
