<%
    if @item.present?
      action_url          = [@model_file.item, @model_file]
      model_file_show_url = item_model_file_path(@item, @model_file)       if @model_file.present? && @model_file.id.present?
      model_file_list_url = item_model_files_path(@item)
      model_file_new_url  = new_item_model_file_path(@item)
      model_file_prefix   = @item.model_file_prefix
    else
      action_url          = [@model_file.project, @model_file]
      model_file_show_url = project_model_file_path(@project, @model_file) if @model_file.present? && @model_file.id.present?
      model_file_list_url = project_model_files_path(@project)
      model_file_new_url  = new_project_model_file_path(@project)
      model_file_prefix   = @project.model_file_prefix
    end
 %>
<%= simple_form_for( action_url, validate: true, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <input name='message' id='message' type='hidden' style='color: #FF0000' readonly />

  <div class="form-inputs">
    <%= f.input :model_id,                                        required: true, label: "#{t('misc.model_file')} Number", :input_html => { :readonly => !current_user.fulladmin } %>
    <%= f.input :full_id,                            as: :string, required: true, label: "#{t('misc.model_file')} ID"  %>
    <%= f.input :description,                        as: :summernote %>
    <%= f.input :url_type,                           collection: Constants::AttachmentType_hash, include_blank: false, label: 'File Type'  %> 

    <label class="control-label select optional" id="label" ></label>

    <%= f.input :url_link,                            label: false %>
    <%= f.file_field :upload_file %>
    <%= f.input :pact_file,                           collection: @pact_files, include_blank: false, label: false %> 
    <%= f.input :url_description,                     as: :hidden %>
    <%= f.input :release_model_file,                  as: :boolean, label: raw("&nbsp;&nbsp;Release Model File")  %><br>
    <%= f.input :revision,                                                    input_html: { readonly: false } %>
    <%= f.input :draft_version,                       label: 'Draft Version', input_html: { readonly: false } %>
    <%= f.input :revision_date,                       as: :date, html5: true, input_html: { readonly: false } %>
    <%= f.input :system_requirement_associations,     as: :hidden %>
    <%= f.input :high_level_requirement_associations, as: :hidden %>
    <%= f.input :low_level_requirement_associations,  as: :hidden %>
    <%= f.input :test_case_associations,              as: :hidden %>
    <%= f.input :version,                             as: :hidden %>
    <%= f.input :full_id_prefix,                      as: :hidden,            input_html: { value: model_file_prefix }  %>

    <% if current_user.fulladmin && @project.present? %>
      <%= f.association :item, collection: Item.where(project_id: @project.id) %>
    <% end %>
  </div>
<% end %>

<input id='link_system_requirements_button' type='button' value='Link <%= t('misc.system_requirements') %>' onclick='link_system_requirements();' class='btn' />

<div id="linked_system_requirements" style='width: 100%; display: none;'>
<%= render 'associate_system_requirements', model_file: @model_file  %>
</div>

<% if @item.present? %>
  <input id='link_high_level_requirements_button' type='button' value='Link <%= Item.item_type_title(@item, :high_level, :plural) %>' onclick='link_high_level_requirements();' class='btn' />

  <div id="linked_high_level_requirements" style='width: 100%; display: none;'>
  <%= render 'associate_high_level_requirements', model_file: @model_file  %>
  </div>
  
  <input id='link_low_level_requirements_button' type='button' value='Link <%= Item.item_type_title(@item, :low_level, :plural) %>' onclick='link_low_level_requirements();' class='btn' />
  
  <div id="linked_low_level_requirements" style='width: 100%; display: none;'>
  <%= render 'associate_low_level_requirements', model_file: @model_file  %>
  </div>
  
  <input id='link_test_cases_button' type='button' value='Link <%= t('misc.test_cases') %>' onclick='link_test_cases();' class='btn' />
  
  <div id="linked_test_cases" style='width: 100%; display: none;'>
  <%= render 'associate_test_cases', model_file: @model_file  %>
  </div>
<% end %>

<div class="form-actions">
  <input id='update_model_file' name='update_model_file' value='Save <%= t('misc.model_file') %>' type="button" onclick='validate();' class="btn btn-default" />

  <% if @model_file.id.present? %>
    <%= link_to 'Show', model_file_show_url,                       class: "btn btn-primary", style: "color:white"   %>
  <% end %>

  <% if controller.action_name == 'edit' %>
    <%= link_to "New #{t('misc.model_file')}", model_file_new_url, class: "btn btn-primary", style: "color:white" %>
  <% end %>

  <%= link_to 'Back', 'javascript:null', class: "btn", onclick: 'validateBack(1)' %>

  <% if @undo_path.present? && !session[:archives_visible].present? %>
    <%= link_to 'Undo', @undo_path, class: 'btn btn-default', title: @undo_message %>
  <% end %>

  <% if @redo_path.present? && !session[:archives_visible].present? %>
    <%= link_to 'Redo', @redo_path, class: 'btn btn-default', title: @redo_message %>
  <% end %>

  <%
      if @model_file_ids.present?
        current_index = @model_file_ids.find_index(@model_file.id)
        previous_id   = @model_file_ids[current_index - 1] if current_index > 0
        next_id       = @model_file_ids[current_index + 1] if current_index < (@model_file_ids.length - 1)
      end
   %>

  <% if @item.present? %>
    <% if previous_id.present? %>
      <% if policy(@model_file).edit? %>
        <%= link_to('Previous', edit_item_model_file_path(@item, previous_id), class: 'btn btn-default') %>
      <% else %>
        <%= link_to('Previous', item_model_file_path(@item, previous_id),      class: 'btn btn-default') %>
      <% end %>
    <% end %>
  
    <% if next_id.present? %>
      <% if policy(@model_file).edit? %>
        <%= link_to('Next',     edit_item_model_file_path(@item, next_id),     class: 'btn btn-default') %>
      <% else %>
        <%= link_to('Next',     item_model_file_path(@item, next_id),          class: 'btn btn-default') %>
      <% end %>
    <% end %>
  <% else %>
    <% if previous_id.present? %>
      <% if policy(@model_file).edit? %>
        <%= link_to('Previous', edit_project_model_file_path(@project, previous_id), class: 'btn btn-default') %>
      <% else %>
        <%= link_to('Previous', project_model_file_path(@project, previous_id),      class: 'btn btn-default') %>
      <% end %>
    <% end %>
  
    <% if next_id.present? %>
      <% if policy(@model_file).edit? %>
        <%= link_to('Next',     edit_project_model_file_path(@project, next_id),     class: 'btn btn-default') %>
      <% else %>
        <%= link_to('Next',     project_model_file_path(@project, next_id),          class: 'btn btn-default') %>
      <% end %>
    <% end %>
  <% end %>
</div>

<script>
  var model            = "";
  var table            = "";
  var prefix           = "";
  var model            = "model_file";
  var table            = model  + 's';
  var prefix           = model  + "_";
  var id_field         = "model_id";
  var label            = "label";
  var numeric_id       = model + "_" + id_field;
  var full_id          = model + "_full_id";
  var url_type         = model + "_url_type";
  var url_description  = model + "_url_description";
  var url_link         = model + "_url_link";
  var pact_file        = model + "_pact_file";
  var upload_file      = model + "_upload_file";
  var numeric_id_index = "#" + numeric_id;
  var url_type_select  = "#" + url_type;
  var pact_file_select = "#" + pact_file;

<% unless @item.present? %>
  document.getElementById('link_system_requirements_button').style.display = 'block';
<% end %>

  function pact_file_changed()
  {
      var url_description_field   = document.getElementById(url_description);
      var pact_file_field         = document.getElementById(pact_file);
      var label                   = pact_file_field.options[pact_file_field.selectedIndex].label;

      url_description_field.value = label;
  }

  function url_type_changed()
  {
      var url_description_field           = document.getElementById(url_description);
      var url_link_field                  = document.getElementById(url_link);
      var label_field                     = document.getElementById(label);
      var pact_file_field                 = document.getElementById(pact_file);
      var upload_file_field               = document.getElementById(upload_file);
      var url_type_value                  = document.getElementById(url_type).value;

      if (url_type_value === "EXTERNAL")
      {
          label_field.innerHTML           = "URL";
          url_link_field.style.display    = "block";
          label_field.style.display       = "block";
          pact_file_field.style.display   = "none";
          upload_file_field.style.display = "none";
      }
      else if (url_type_value === "PACT")
      {
          label_field.innerHTML           = "PACT File";
          url_link_field.style.display    = "none";
          label_field.style.display       = "block";
          pact_file_field.style.display   = "block";
          upload_file_field.style.display = "none";
      }
      else if (url_type_value === "ATTACHMENT")
      {
          label_field.innerHTML           = "Attach File";
          url_link_field.style.display    = "none";
          label_field.style.display       = "block";
          pact_file_field.style.display   = "none";
          upload_file_field.style.display = "block";
      }
      else if (url_type_value === "")
      {
          label_field.innerHTML           = "";
          url_link_field.style.display    = "none";
          label_field.style.display       = "none";
          pact_file_field.style.display   = "none";
          upload_file_field.style.display = "none";
      }
  }

  function set_button_display(visability)
  {
    var linkedSystemRequirementsbutton              = document.getElementById('link_system_requirements_button');

<% if @item.present? %>
    var linkedHighLevelRequirementsbutton           = document.getElementById('link_high_level_requirements_button');
    var linkedLowLevelRequirementsbutton            = document.getElementById('link_low_level_requirements_button');
    var linkedTestCasesbutton                       = document.getElementById('link_test_cases_button');
<% end %>

    linkedSystemRequirementsbutton.style.display    = visability;
<% if @item.present? %>
    linkedHighLevelRequirementsbutton.style.display = visability;
    linkedLowLevelRequirementsbutton.style.display  = visability;
    linkedTestCasesbutton.style.display             = visability;
<% end %>
  }

  function set_div_display(visability)
  {
    var linkedSystemRequirementsDiv                = document.getElementById('linked_system_requirements');
<% if @item.present? %>
    var linkedHighLevelRequirementsDiv             = document.getElementById('linked_high_level_requirements');
    var linkedLowLevelRequirementsDiv              = document.getElementById('linked_low_level_requirements');
    var linkedTestCasesDiv                         = document.getElementById('linked_test_cases');
<% end %>

      linkedSystemRequirementsDiv.style.display    = visability;

<% if @item.present? %>
      linkedHighLevelRequirementsDiv.style.display = visability;
      linkedLowLevelRequirementsDiv.style.display  = visability;
      linkedTestCasesDiv.style.display             = visability;
<% end %>
  }

  function link_system_requirements()
  {
    var linkedSystemRequirementsDiv                = document.getElementById('linked_system_requirements');
    var linkedSystemRequirementsbutton             = document.getElementById('link_system_requirements_button');

    if (linkedSystemRequirementsDiv.style.display == 'none')
    {
      set_button_display('none');
      set_div_display('none');

      linkedSystemRequirementsDiv.style.display    = 'block';
      linkedSystemRequirementsbutton.style.display = 'block';
      linkedSystemRequirementsbutton.value         = 'Hide Links';

      systemRequirementsDataTable.draw();
    }
    else
    {
      set_button_display('block');
      set_div_display('none');

      linkedSystemRequirementsbutton.value            = "Link <%= t('misc.system_requirements') %>";
    }
  }

  function link_high_level_requirements()
  {
<% if @item.present? %>
    var linkedHighLevelRequirementsDiv                = document.getElementById('linked_high_level_requirements');
    var linkedHighLevelRequirementsbutton             = document.getElementById('link_high_level_requirements_button');

    if (linkedHighLevelRequirementsDiv.style.display == 'none')
    {
      set_button_display('none');
      set_div_display('none');

      linkedHighLevelRequirementsDiv.style.display    = 'block';
      linkedHighLevelRequirementsbutton.style.display = 'block';
      linkedHighLevelRequirementsbutton.value         = 'Hide Links';

      highLevelRequirementsDataTable.draw();
    }
    else
    {
      set_button_display('block');
      set_div_display('none');

      linkedHighLevelRequirementsbutton.value         = 'Link <%= Item.item_type_title(@item, :high_level, :plural) %>';
    }
<% end %>
  }

  function link_low_level_requirements()
  {
<% if @item.present? %>
    var linkedLowLevelRequirementsDiv                = document.getElementById('linked_low_level_requirements');
    var linkedLowLevelRequirementsbutton             = document.getElementById('link_low_level_requirements_button');

    if (linkedLowLevelRequirementsDiv.style.display == 'none')
    {
      set_button_display('none');
      set_div_display('none');

      linkedLowLevelRequirementsDiv.style.display    = 'block';
      linkedLowLevelRequirementsbutton.style.display = 'block';
      linkedLowLevelRequirementsbutton.value         = 'Hide Links';

      lowLevelRequirementsDataTable.draw();
    }
    else
    {
      set_button_display('block');
      set_div_display('none');

      linkedLowLevelRequirementsbutton.value         = 'Link <%= Item.item_type_title(@item, :low_level, :plural) %>';
    }
<% end %>
  }

  function link_test_cases()
  {
<% if @item.present? %>
    var linkedTestCasesDiv                = document.getElementById('linked_test_cases');
    var linkedTestCasesbutton             = document.getElementById('link_test_cases_button');

    if (linkedTestCasesDiv.style.display == 'none')
    {
      set_button_display('none');
      set_div_display('none');

      linkedTestCasesDiv.style.display    = 'block';
      linkedTestCasesbutton.style.display = 'block';
      linkedTestCasesbutton.value         = 'Hide Links';

      testCasesDataTable.draw();
    }
    else
    {
      set_button_display('block');
      set_div_display('none');

      linkedTestCasesbutton.value         = "Link <%= t('misc.test_case') %>";
    }
<% end %>
  }

  function numeric_id_index_changed()
  {
    var full_id_prefix = document.getElementById('model_file_full_id_prefix').value;
    var number         = document.getElementById(numeric_id).value;
    var fullId         = document.getElementById(full_id);
    var numberString   = "";

    if (number < 10)
      numberString = "000" + number;
    else if  (number < 100)
      numberString = "00" + number;
    else if  (number < 1000)
      numberString = "0" + number;
    else
      numberString = "" + number;

    <% if controller.action_name == 'new' %>
      fullId.value = full_id_prefix + '-' + numberString;
    <% else %>
      if (fullId.value === '')
        fullId.value = full_id_prefix + '-' + numberString;
    <% end %>
  }

  function choose_requirements(requirements)
  {
    var form    = document.forms[0];
    var action  = form.action.replace("/" + table + "/", "/" + table + "/associate_" + requirements + "_level_requirements/");

    form.action = action;

    form.submit();
    return(true);
  }

  $(":input").keydown(function (event) {
      if (event.keyCode == 112)
        validate();
      else if (event.keyCode == 113)
        window.location.assign(window.location.href.replace(/\/\d+\/edit$/, ''));
  }); 

  setupChangeNotification();

  function validate()
  {
    var form                 = document.forms[0];
    var okay                 = validateForm();
    var messageText          = "";

    if (!okay)
      return(false);

    if (okay)
    {
      submitSystemRequirements();

<% if @item.present? %>
      submitHighLevelRequirements();
      submitLowLevelRequirements();
      submitTestCases();
<% end %>

      form.submit();
    }
    else
    {
      message.value          = messageText;
      message.style.display  = "none";

      alert(messageText);
    }

    return(okay);
  }

<% if controller.action_name == 'new' %>
  numeric_id_index_changed();
<% end %>

  url_type_changed();

  $(pact_file_select).change(function()
  {
    pact_file_changed();
  });

  $(url_type_select).change(function()
  {
    url_type_changed();
  });

  $(numeric_id_index).change(function()
  {
    numeric_id_index_changed();
  });
</script>
