Dear <%= @user.fullname %>:
<p>
An Action Item assigned to you has been deleted. Please see below for the details.
</p>
<table style=" width: 100% !important; border: none !important;">
  <thead>
    <tr>
      <th colspan=3 align="left">
        <h4>
          Detail:
        </h4>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="10%">
        Project:
      </td>
      <td width="80%">
        <%= @project.name %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="10%">
        Item/Artifact:
      </td>
      <td width="80%">
        <%= @item.name %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="10%">
        Review:
      </td>
      <td width="80%">
        <%= raw @review.title %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="10%">
        Description:
      </td>
      <td width="80%">
        <%= sanitize(@action_item.description) %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="10%">
        Opened By:
      </td>
      <td width="80%">
        <%= User.fullname_from_email(@action_item.openedby) %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="10%">
        Status:
      </td>
      <td width="80%">
        <%= @action_item.status %>
      </td>
    </tr>
    <tr>
      <td width="10%">
        &nbsp;
      </td>
      <td width="10%">
        Notes:
      </td>
      <td width="80%">
        <%= sanitize(@action_item.note) %>
      </td>
    </tr>
  <tbody>
</table>
<p>
PACT Automation<br>
pact_cm@airworthinesscert.com
</p>
