<style> 
  input[type="radio"], input[type="checkbox"]
  {
    padding-top: 10px !important;
    width: 20px       !important; 
    height: 20px      !important; 
  } 

  .test_case_all
  {
    width: 20px !important;
  }

  .itemColumn
  {
     width: 20%            !important;
     align-content: center !important;
     text-align:    left   !important;
  }

  .idColumn
  {
     width: 20%            !important;
     align-content: center !important;
     text-align:    left   !important;
  }

  .descriptionColumn
  {
     width: 40%            !important;
     align-content: center !important;
     text-align:    left   !important;
  }

  .testMethodColumn
  {
     width: 25%            !important;
     align-content: center !important;
     text-align:    left   !important;
  }

  .checkboxColumn
  {
     width: 5%             !important;
     align-content: center !important;
     text-align:    center !important;
  }

  table.testCasesDataTable thead th
  {
     height: 0px         !important;
     vertical-align: top !important;
  }

  table.testCasesDataTable tbody td
  {
     height: 0px         !important;
     vertical-align: top !important;
  }
</style>

Choose Hardware/Software Item in which to find <%= t('misc.test_cases') %>
<br>
<select id='test_case_item_select' multiple=true>
  <option></option>
  <% Item.where(project_id: @project.id).order(:identifier).each do |item| %>
    <% if item.id == @item.id %>
      <option id='item_<%= item.id %>' value='<%= item.id %>' selected><%= item.identifier %></option>
    <% else %>
      <option id='item_<%= item.id %>' value='<%= item.id %>'><%= item.identifier %></option>
    <% end %>
  <% end %>
</select>

<table id="testCasesDataTable" class="table table-striped table-bordered table-sm" cellspacing="0"  width="100%">
  <thead>
    <tr>
      <th class="test_case_all"><input :select_test_case_all_test_cases, { type="checkbox", id="select_test_case_all_test_cases", value="ALL"}>&nbsp;</th>
      <th scope="col" class="itemColumn">Hardware/<br>Software Item</th>
      <th scope="col" class="idColumn"><%= t('misc.test_case') %></th>
      <th scope="col" class="descriptionColumn"><%= t('misc.desc') %></th>
      <th scope="col" class='testMethodColumn'>Test Method</th>
      <th scope="col" class='checkboxColumn'>Robustness</th>
    </tr>
  </thead>

  <tbody>
    <% if @test_cases.present? %>
      <% @test_cases.each do |test_case| %>
        <tr>
          <% if test_case.selected %>
            <td class="test_case_all">&nbsp;&nbsp;<input id='test_case.<%= test_case.id %>' name='test_case.<%= test_case.id %>' type="checkbox" checked value="<%= test_case.id %>" /></td>
          <% else %>
            <td class="test_case_all">&nbsp;&nbsp;<input id='test_case.<%= test_case.id %>' name='test_case.<%= test_case.id %>' type="checkbox" value="<%= test_case.id %>"/></td>
          <% end %>
          <td scope="col" class="itemColumn"><%= @item.identifier %></th>
          <td class="idColumn"><%= test_case.full_id %></td>
          <td class="descriptionColumn"><%= raw test_case.description %></td>
          <td class='testMethodColumn'><%= test_case.testmethod %></td>
          <td class='checkboxColumn'><%= checkicon(test_case.robustness) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<input type='button' value='Save <%= t('misc.test_case') %> Links' onclick='submitTestCases();' style='display: none' class='btn' />
<br>

<script>
var testCasesDataTable = $('#testCasesDataTable').DataTable({
  "sDom":           "Rlfrtip",
  "scrollX":        true,
  "scrollY":        "65vh",
  "aLengthMenu":    [[10, 50, 100, -1], [25, 50, 100, "All"]],
  "pageLength":     -1,
  "scrollCollapse": true,
  "paging":         false,
  "ordering":       false,
  "info":           false
});

function redrawTestCasesTable()
{
  testCasesDataTable.draw();
}

function ajaxError(xhr, textStatus, errorThrown)
{
  if (xhr.responseText &&
     (xhr.responseText !== ''))
  {
    var newDoc = document.open('text/html',
                               "replace");

    newDoc.write(xhr.responseText);
    newDoc.close();
  }
  else
  {
    alert("Error Occured. " + textStatus + ": " +
          errorThrown);
  }
}

function getTestCaseCells(row, count)
{
  var cells  = [];

  for (var j = 0; j < count; j++)
    cells[j] = $(`#testCasesDataTable tr:${row} td:eq(${j})`);

  return cells;
}

function populateTestCaseRow(itemName, caseID, description, testMethod)
{
  var rowNode = testCasesDataTable.row.add([
                                              '',
                                              itemName,
                                              caseID,
                                              description,
                                              testMethod,
                                              ''
                                           ]).node();

  return rowNode;
}

function setTestCaseCheckbox(cell, value, id)
{
  if (value)
    cell.outerHTML = ('<td class="test_case_all">&nbsp;&nbsp;<input id="test_case.' + id + '" name="test_case.' + id + '" type="checkbox" checked value="' + id + '"/></td>');
  else
    cell.outerHTML = ('<td class="test_case_all">&nbsp;&nbsp;<input id="test_case.' + id + '" name="test_case.' + id + '" type="checkbox" value="' + id + '"/></td>');
}

function setTestCaseCheckicon(cell, value)
{
  if (value)
    cell.outerHTML = ('<td class="checkboxColumn"><i class="far fa-check-square"></i></td>');
  else
    cell.outerHTML = ('<td class="checkboxColumn"><i class="far fa-square"></i></td>');
}

function processTestCasesData(data)
{
  var selectedField = document.getElementById("test_procedure_test_case_associations");
  var selectedCases = selectedField.value.split(',');

  testCasesDataTable.clear();

  for (var j = 0; j < data.length; j++)
  {
    var tc         = data[j];

    if (tc.soft_delete)
      continue;

    var id          = tc.id;
    var item_id     = '#item_' + tc.item_id;
    var rowNode     = populateTestCaseRow($(item_id).text(),
                                          tc.full_id,
                                          tc.description,
                                          tc.testmethod);
    var cells       = rowNode.children;
    var selected    = false;

    for (var k = 0; k < selectedCases.length; k++)
    {
      if (selectedCases[k] == id)
      {
        selected    = true;

        break;
      }
    }

    setTestCaseCheckbox(cells[0],  selected, id);
    setTestCaseCheckicon(cells[5], tc.robustness);
    cells[1].classList.add("itemColumn");
    cells[2].classList.add("idColumn");
    cells[3].classList.add("descriptionColumn");
    cells[4].classList.add("testMethodColumn");
  }

  testCasesDataTable.draw();
}

$("#test_case_item_select").change(function()
{
  var itemIDs    = $('#test_case_item_select').val();
  var url        = window.location.href;
  var itemsIndex = url.indexOf('items/');
  var idString   = '';

  for (var j = 0; j < itemIDs.length; j++)
  {
    if (itemIDs[j] !== '')
    {
      if (idString === '')
        idString  = itemIDs[j];
      else
        idString += ',' + itemIDs[j];
    }
  }

  if (idString === '')
    return;

  url = url.substring(0, itemsIndex + 6) + idString + '/test_cases.json';

  $.ajax(
           {
             type:        "GET",
             url:         url,
             dataType:    'json',
             contentType: 'text/html',
             async:       false,
             error:       ajaxError,
             success:     processTestCasesData
           }
        );

  redrawTestCasesTable();
});

$("#select_test_case_all_test_cases").change(function()
{
  var checked = false;

  if (document.getElementById("select_test_case_all_test_cases").checked)
    checked = true;
  else
    checked = false;

  $("td.test_case_all input[type=checkbox]").prop('checked', checked);
});

function submitTestCases()
{
  var selectedField                   = document.getElementById("test_procedure_test_case_associations");
  var linkedTestCasesbutton           = document.getElementById('link_test_cases_button');
  var linkedTestCasesDiv              = document.getElementById('linked_test_cases');
  var selected                        = "";

  $('[id*="test_case."]').each(function(){
    if ($(this).prop('checked'))
    {
      var value = $(this).prop('value');

      if (value !== "ALL") {
        if (selected !== "")
          selected += "," + value;
        else
          selected = value;
      }
    }
  });

  selectedField.value                 = selected;
  linkedTestCasesDiv.style.display    = 'none';
  linkedTestCasesbutton.style.display = 'block';
  linkedTestCasesbutton.value         = 'Link <%= t('misc.test_cases') %>';

  return(true);
}
</script>
