<%= simple_form_for( import_path(@import), html: { class: 'form-horizontal', :method => "put", :id => "import-form" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :item_select, 
                :collection => Item.where(organization: current_user.organization), 
                :label_method => :name,
                include_blank: true, 
                :selected => @item.id,
                :input_html => { :id => "llr_item_input" } %>
    <%= f.file_field :file %>
    <%= f.input :duplicates_permitted,          as: :boolean, class: 'largerCheckbox'  %>
    <%= f.input :association_changes_permitted, as: :boolean, class: 'largerCheckbox'  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Load Test Procedures', data: { "disable-with": t('misc.load') } %>
    <%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)', class: 'btn' %>

    <% if @undo_path.present? && !session[:archives_visible].present? %>
      <%= link_to 'Undo', @undo_path, class: 'btn btn-default', title: @undo_message %>
    <% end %>

    <% if @redo_path.present? && !session[:archives_visible].present? %>
      <%= link_to 'Redo', @redo_path, class: 'btn btn-default', title: @redo_message %>
    <% end %>
  </div>
<% end %>
