<head>
  <title><%= full_title(yield(:title)) %></title>
</head>

<style>
  .column_1 {
    width:          225px !important;
    vertical-align: top
  }

  .column_2 {
    width:          350px !important;
    vertical-align: top
  }

  .column_3 {
    width:          225px !important;
    vertical-align: top
  }

  .column_4 {
    vertical-align: top
  }
</style>

<h3><%= t('misc.test_procedures') %></h3>

<% @test_procedures.each do |test_procedure| %>
  <table style="width: 100%" border="2">
    <% if test_procedure.soft_delete %>
      <% next %>
    <% end %>
    <tr>
      <td class="column_1">
        <%= test_procedure.full_id %>
      </td>
      <td class="column_2">
        <%= test_procedure.file_name.to_s.html_safe %>
      </td>
      <td class="column_3">
        Version
      </td>
      <td class="column_4">
        <%= test_procedure.version %>
      </td>
    </tr>
    <tr>
      <td class="column_1">
        Attachment Type:
      </td>
      <td class="column_2">
        <%= Constants::AttachmentType_hash.invert[test_procedure.url_type] %>
      </td>
      <td class="column_3">
        URL:
      </td>
      <td class="column_4">
        <% if test_procedure.url_type == 'EXTERNAL' %>
          <%= test_procedure.url_link %>
        <% else %>
          <%= test_procedure.url_description %>
        <% end %>
      </td>
    </tr>
  </table>
  <br>
<% end if @test_procedures.present? %>
