<head>
  <title><%= full_title(yield(:title)) %></title>
</head>

<h3>Problem Reports</h3>

<% @problem_reports.each do |problem_report| %>
  <table style="width:7.5in" border="2">
    <tr>
      <td  width="25%" style="vertical-align:top">
        Problem Report ID:
      </td>
      <td width="25%"  style="vertical-align:top">
        <%= problem_report.fullprid %>
      </td>
      <td  width="25%" style="vertical-align:top">
        <%= t('problemreports.title') %>:
      </td>
      <td colspan="3" width="75%">
        <%= problem_report.title.to_s.html_safe %>
      </td>
    </tr>
    <tr>
      <td  width="25%" style="vertical-align:top">
        <%= t('problemreports.dateopened') %>:
      </td>
      <td width="25%"  style="vertical-align:top">
        <%= problem_report.dateopened %>
      </td>
      <td width="25%"  style="vertical-align:top">
       <%= t('problemreports.openedby') %>:
      </td>
      <td width="25%"  style="vertical-align:top">
        <%= User.fullname_from_email(problem_report.openedby) %>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        <%= t('problemreports.status') %>:
      </td>
      <td style="vertical-align:top">
        <%= problem_report.status %>
      </td>
      <td style="vertical-align:top">
        <%= t('problemreports.datemodified') %>:
      </td>
      <td style="vertical-align:top">
        <%= problem_report.datemodified %>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        <%= t('problemreports.product') %>:
      </td>
      <td style="vertical-align:top">
        <%= problem_report.product %>
      </td>
      <td style="vertical-align:top">
        <%= t('problemreports.criticality') %>:
      </td>
      <td style="vertical-align:top">
        <%= problem_report.criticality %>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        <%= t('problemreports.source') %>:
      </td>
      <td>
        <%= problem_report.source %>
      </td>
      <td style="vertical-align:top">
        <%= t('problemreports.discipline_assigned') %>:
      </td>
      <td>
        <%= problem_report.discipline_assigned %>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        <%= t('problemreports.assignedto') %>:
      </td>
      <td style="vertical-align:top">
        <%= User.fullname_from_email(problem_report.assignedto) %>
      </td>
      <td style="vertical-align:top">
        <%= t('problemreports.target_date') %>:
      </td>
      <td style="vertical-align:top">
        <%= problem_report.target_date %>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        <%= t('problemreports.close_date') %>:
      </td>
      <td style="vertical-align:top">
        <%= problem_report.close_date %>
      </td>
      <td style="vertical-align:top">
        <%= t('problemreports.description') %>:
      </td>
      <td style="vertical-align:top">
        <%= simple_format(problem_report.description) %>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        <%= t('problemreports.problemfoundin') %>:
      </td>
      <td style="vertical-align:top">
        <%= problem_report.problemfoundin %>
      </td>
      <td style="vertical-align:top">
        <%= t('problemreports.correctiveaction') %>:
      </td>
      <td style="vertical-align:top">
        <%= simple_format(problem_report.feedback) %>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        <%= t('problemreports.fixed_in') %>:
      </td>
      <td style="vertical-align:top">
        <%= problem_report.fixed_in %>
      </td>
      <td style="vertical-align:top">
        <%= t('problemreports.verification') %>:
      </td>
      <td style="vertical-align:top">
        <%= simple_format(problem_report.notes) %>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        <%= t('problemreports.meeting_id') %>:
      </td>
      <td style="vertical-align:top">
        <%= problem_report.meeting_id %>
      </td>
      <td style="vertical-align:top">
        <%= t('problemreports.safetyrelated') %>:
      </td>
      <td style="vertical-align:top">
        <% if problem_report.safetyrelated %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top">
        <%= t('problemreports.applies_to') %>:
      </td>
      <td style="vertical-align:top">
        <%= Item.identifier_from_id(problem_report.item_id)%>
      </td>
      <td style="vertical-align:top">
        <%= t('problemreports.referenced_artifacts') %>:
      </td>
      <td style="vertical-align:top">
        <div style="padding-left: 50px">
  
          <% if problem_report.referenced_artifacts['documents'].present? %>
            Documents:<br>
            <div style="padding-left: 50px">
              <% problem_report.referenced_artifacts['documents'].each do |document_id| %>
                <%= link_to Document.name_from_id(document_id),
                            document_url(document_id, new_window: true ),
                            target: '_blank'
                 %><br>
              <% end %>
            </div>
          <% end %>
  
          <% if problem_report.referenced_artifacts['source_codes'].present? %>
            Source Code:<br>
  
            <div style="padding-left: 50px">
              <% problem_report.referenced_artifacts['source_codes'].each do |source_code_id| %>
                <%= link_to SourceCode.code_id_plus_filename_from_id(source_code_id),
                            item_source_code_url(SourceCode.item_id_from_id(source_code_id),
                                                 source_code_id, new_window: true),
                            target: '_blank'
                 %><br>
              <% end %>
            </div>
          <% end %>
  
          <% if problem_report.referenced_artifacts['test_procedures'].present? %>
            Test Procedures:<br>
  
            <div style="padding-left: 50px">
              <% problem_report.referenced_artifacts['test_procedures'].each do |test_procedure_id| %>
                <%= link_to TestProcedure.procedure_id_plus_filename_from_id(test_procedure_id),
                            item_test_procedure_url(TestProcedure.item_id_from_id(test_procedure_id),
                                                    test_procedure_id, new_window: true),
                            target: '_blank'
                 %><br>
              <% end %>
            </div>
          <% end %>
  
          <% if problem_report.referenced_artifacts['other'].present? %>
            Other:<br>
  
            <div style="padding-left: 50px">
              <% problem_report.referenced_artifacts['other'].each do |other| %>
                <%= other %><br>
              <% end %>
            </div>
          <% end %>
      </td>
    </tr>
  </table>
  <br>
<% end if @problem_reports.present? %>

