<h1><%= "Select #{t('problemreports.pl_title')}" %></h1>

<form name="filter" id="filter" action="<%= project_problem_reports_path(@project) %>" method="put">
  <p>
    <table width: "10%" style: '{border: none;}' >
      <tr>
        <td>
                Open Problem Reports:
        </td>
        <td style="text-align:right">
          <% if @item.present? %>
            <%= ProblemReport.where(item_id: @item.id, status: 'Open').count %>
          <% else %>
            <%= ProblemReport.where(project_id: @project.id, status: 'Open').count %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
                Implemented Problem Reports:
        </td>
        <td style="text-align:right">
          <% if @item.present? %>
            <%= ProblemReport.where(item_id: @item.id, status: 'Implemented').count %>
          <% else %>
            <%= ProblemReport.where(project_id: @project.id, status: 'Implemented').count %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
                Closed Problem Reports:
        </td>
        <td style="text-align:right">
          <% if @item.present? %>
            <%= ProblemReport.where(item_id: @item.id, status: 'Closed').count %>
          <% else %>
            <%= ProblemReport.where(project_id: @project.id, status: 'Closed').count %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
                Total Problem Reports:
        </td>
        <td style="text-align:right">
          <% if @item.present? %>
            <%= ProblemReport.where(item_id: @item.id).count %>
          <% else %>
            <%= ProblemReport.where(project_id: @project.id).count %>
          <% end %>
        </td>
      </tr>
    </table>
  </p>
  <label>
  Field:
  </label>
  <select id="filter_field" name="filter_field" style="width: 25%;">
    <option value="prid">Problem Report ID</option>
    <option value="dateopened">Date Opened</option>
    <option value="status">Status</option>
    <option value="openedby">Opened By</option>
    <option value="title">Title</option>
    <option value="product">Product</option>
    <option value="criticality">Criticality</option>
    <option value="source">Source</option>
    <option value="discipline_assigned">Discipline Assigned</option>
    <option value="assignedto">Assigned To</option>
    <option value="target_date">Target Date</option>
    <option value="close_date">Close Date</option>
    <option value="description">Description</option>
    <option value="problemfoundin">Problem Found In</option>
    <option value="correctiveaction">Corrective Action</option>
    <option value="fixed_in">Fixed In</option>
    <option value="verification">Verification</option>
    <option value="feedback">Feedback</option>
    <option value="notes">Notes</option>
    <option value="meeting_id">Meeting ID</option>
    <option value="safetyrelated">Safety Related</option>
    <option value="datemodified">Date Modified</option>
  </select>
  <label>
  Value:
  </label>
  <input id="filter_value" name="filter_value" value='<%= session[:pr_filter_value] %>' type="text" style="width: 25%;">
  <br>
  <input type="submit" value="Show Problem Reports" class='btn btn-default'/>
  <%= link_to 'New Problem Report',
              new_project_problem_report_path(@project),
              class: "btn btn-primary" %>
  <%= link_to 'PRs Opened by me',
              project_problem_reports_path(@project, my_problem_reports: true),
              class: 'btn btn-default' %>
  <%= link_to 'PRs Assigned to Me',
              project_problem_reports_path(@project,
                                           problem_reports_assigned_to_me: true),
              class: 'btn btn-default' %>
  <%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)', class: 'btn' %>
</form>
<script>
  if (document.cookie.match(/scrollTop=(\d+)/))
    $(window).scrollTop(document.cookie.match(/scrollTop=(\d+)/)[1]);

  $('[name=filter_field]').val('<%= session[:pr_filter_field] %>');
  $(window).unload(function() {document.cookie = "scrollTop=" + $(window).scrollTop();});
</script>