<style>
</style>
<table style=" width: 100% !important; border: none !important;">
  <thead>
    <tr>
      <th colspan=2>
        <h1>
          Open Problem Reports
        </h1>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% @problem_reports.each do |problem_report| %>
          <table style="width: 100% !important; border: none !important;">
            <tr>
              <td>
                <h5>Problem Report ID:</h5>
              </td>
              <td style="width: 80% !important;">
                <h5><%= problem_report.fullprid %></h5>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.title') %>:
                </strong>
              </td>
              <td>
                <%= problem_report.title %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.description') %>:
                </strong>
              </td>
              <td>
                <%= raw problem_report.description %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.product') %>:
                </strong>
              </td>
              <td>
                <%= problem_report.product %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.problemfoundin') %>:
                </strong>
              </td>
              <td>
                <%= problem_report.problemfoundin %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.status') %>:
                </strong>
              </td>
              <td>
                <%= problem_report.status %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.criticality') %>:
                </strong>
              </td>
              <td>
                <%= problem_report.criticality %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.safetyrelated') %>:
                </strong>
              </td>
              <td>
                <% if problem_report.safetyrelated %>
                  Yes
                <% else %>
                  No
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.source') %>:
                </strong>
              </td>
              <td>
                <%= problem_report.source %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.discipline_assigned') %>:
                </strong>
              </td>
              <td>
                <%= problem_report.discipline_assigned %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.assignedto') %>:
                </strong>
              </td>
              <td>
                <%= User.fullname_from_email(problem_report.assignedto) %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.dateopened') %>:
                </strong>
              </td>
              <td>
                <%= problem_report.dateopened %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.openedby') %>:
                </strong>
              </td>
              <td>
                <%= User.fullname_from_email(problem_report.openedby) %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.datemodified') %>:
                </strong>
              </td>
              <td>
                <%= problem_report.datemodified %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.target_date') %>:
                </strong>
              </td>
              <td>
                <%= problem_report.target_date %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.correctiveaction') %>:
                </strong>
              </td>
              <td>
                <%= problem_report.correctiveaction %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.fixed_in') %>:
                </strong>
              </td>
              <td>
                <%= problem_report.fixed_in %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.verification') %>:
                </strong>
              </td>
              <td>
                <%= raw problem_report.verification %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.feedback') %>:
                </strong>
              </td>
              <td>
                <%= raw problem_report.feedback %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.notes') %>:
                </strong>
              </td>
              <td>
                <%= raw problem_report.notes %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <%= t('problemreports.meeting_id') %>:
                </strong>
              </td>
              <td>
                <%= problem_report.meeting_id %>
              </td>
            </tr>
            <tr>
              <td colspan=2>
                <h5>Problem Report History:</h5>
              </td>
            </tr>
              <td colspan=2>
                <table style="border: none !important;">
                  <thead>
                    <tr>
                      <th width="30em">&nbsp</th>
                      <th>Action</th>
                      <th>Modified By</th>
                      <th>Date Modified</th>
                      <th>Status</th>
                      <th>Severity Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% problem_report.problem_report_history.each do |problem_report_history| %>
                      <tr>
                        <td width="30em">&nbsp</td>
                        <td style="max-width: 1024px !important; overflow: hidden !important;">
                          <%= raw problem_report_history.action %>
                        </td>
                        <td>
                          <%= problem_report_history.datemodified %>
                        </td>
                        <td>
                          <%= User.fullname_from_email(problem_report_history.modifiedby) %>
                        </td>
                        <td>
                          <%= problem_report_history.status %>
                        </td>
                        <td>
                          <%= problem_report_history.severity_type %>
                        </td>
                      </tr>
                    <% end if problem_report.problem_report_history.present? %>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan=2>
                &nbsp;
              </td>
            </tr>
            <tr>
              <td colspan=2>
                &nbsp;
              </td>
            </tr>
          </table>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)', class: 'btn' %>
