<%= simple_form_for( [@problem_report_history.problem_report, @problem_report_history], html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :action %>

    <% if @problem_report_history.modifiedby.present? %>
      <%=
          f.input :modifiedby,
                  label:        'Modified By',
                  collection:    User.organization_or_role(current_user.organization,
                                                           'AirWorthinessCert Member'),
                  label_method: :fullname,
                  value_method: :email,
                  selected:      @problem_report_history.modifiedby
       %>
    <% else %>
      <%=
          f.input :modifiedby,
                  label:        'Modified By',
                  collection:    User.organization_or_role(current_user.organization,
                                                           'AirWorthinessCert Member'),
                  label_method: :fullname,
                  value_method: :email,
                  selected:     @current_user.email
       %>
    <% end %>

    <%= f.input :status %>
    <%= f.input :severity_type %>
    <%= f.input :datemodified, as: :datetime, html5: true %>

    <% if current_user.fulladmin && @project.present? %>
      <%= f.association :problem_report, collection: ProblemReport.where(project_id: @project.id) %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, data: { "disable-with": t('misc.save') } %>

    <% if @problem_report_history.id.present? %>
      <%= link_to 'Show', problem_report_problem_report_history_path(@problem_report, @problem_report_history), class: 'btn btn-default' %>
    <% end %>

    <% if controller.action_name == 'edit' %>
      <%= link_to 'New Problem Report History', new_problem_report_problem_report_history_path(@problem_report),          class: 'btn btn-default'  %>
    <% end %>

    <%= link_to 'Back', 'javascript:null', class: "btn", onclick: 'validateBack(1)' %>

    <% if @undo_path.present? && !session[:archives_visible].present? %>
      <%= link_to 'Undo', @undo_path, class: 'btn btn-default', title: @undo_message %>
    <% end %>

    <% if @redo_path.present? && !session[:archives_visible].present? %>
      <%= link_to 'Redo', @redo_path, class: 'btn btn-default', title: @redo_message %>
    <% end %>
  </div>
<% end %>
