<ul class="list-group">
  <li class="list-group-item active">
    <h5>
      <%= "#{t('prhistory.single_title')} for: " %>
      <%= link_to @problem_report_history.problem_report.fullprid, project_problem_report_path(@problem_report.project_id, @problem_report) + '?new_window=true', target: :_blank %>
    </h5>
  </li>
  <li class="list-group-item">
    <p>
      <strong><%= t('problemreports.single_title') %>:</strong>
      <%= @problem_report_history.problem_report.title %>
    <p>
      <strong>Action:</strong>
    <br>
      <% if @problem_report_history.action.present? %>
        <% changes = @problem_report_history.action.split("\n") %>
        <% changes.each do |change| %>
          <% next unless change.present? %>
          <%= sanitize change %>
          <br>
        <%end %>
      <% end %>
    </p>

    <p>
      <strong>Modified by:</strong>
      <%= @problem_report_history.modifiedby %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @problem_report_history.status %>
    </p>

    <p>
      <strong>Severity Type:</strong>
      <%= @problem_report_history.severity_type %>
    </p>

    <p>
      <strong>Date Modified:</strong>
      <%= @problem_report_history.datemodified %>
    </p>

    <p>
      <strong>Project:</strong>
      <%= @problem_report_history.project.name %>
    </p>
  </li>
</ul>

<%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)', class: 'btn' %>
