<%= simple_form_for( [@review_attachment.review, @review_attachment], html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if controller.action_name != 'new' %>
      <p>
      Previous Attachment: <%= ReviewAttachment.get_attachment_name(review_attachment) %>
      </p>
    <% end %>

    <%= f.input :link_type, collection: Constants::AttachmentType_hash, include_blank: false, label: 'File Type'  %> 
    <label class="control-label select optional" id="label" ></label>
    <%= f.input :link_link, label: false %>
    <%= f.file_field :file %>

    <div id="pact_document_div" display: none;'>
      Choose Hardware/Software Item in which to find PACT Documents.<br>
      <select id='item_select' multiple=true>
          <option selected=true></option>
          <% Item.where(project_id: @project.id).order(:identifier).each do |item| %>
            <option id='item_<%= item.id %>' value='<%= item.id %>'><%= item.identifier %></option>
          <% end %>
      </select>
      <%= f.input :pact_file, collection: @pact_files, include_blank: true %><br>
    </div>

    <%= f.input :link_description, :as => :hidden %>
    <%= f.input :attachment_type, label: 'Review Document Type', collection: Constants::ReviewAttachmentType_hash, include_blank: false %> 

    <% if current_user.fulladmin && @review.item_id.present? %>
      <%= f.association :review, collection: Review.where(item_id: @review.item_id) %>
    <% end %>

    <%= f.input :user, :as => :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, data: { "disable-with": t('misc.save') } %>

    <% if @review_attachment.id.present? %>
      <%= link_to 'Show', review_review_attachment_path(@review, @review_attachment), class: 'btn btn-default'  %>
    <% end %>

    <% if controller.action_name == 'edit' %>
      <%= link_to 'New Review Attachment', new_review_review_attachment_path(@review), class: 'btn btn-default'  %>
    <% end %>

    <%= link_to 'Back', 'javascript:null', class: "btn", onclick: 'validateBack(1)' %>

    <% if @undo_path.present? && !session[:archives_visible].present? %>
      <%= link_to 'Undo', @undo_path, class: 'btn btn-default', title: @undo_message %>
    <% end %>

    <% if @redo_path.present? && !session[:archives_visible].present? %>
      <%= link_to 'Redo', @redo_path, class: 'btn btn-default', title: @redo_message %>
    <% end %>
  </div>
<% end %>

<script>
  var model            = "review_attachment";
  var label            = "label";
  var link_type        = model + "_link_type";
  var link_description = model + "_link_description";
  var link_link        = model + "_link_link";
  var pact_file        = model + "_pact_file";
  var file             = model + "_file";
  var link_type_select = "#" + link_type;
  var pact_file_select = "#" + pact_file;
  var item_select      = '#item_select';

  function link_type_changed()
  {
      var link_description_field = document.getElementById(link_description);
      var link_link_field        = document.getElementById(link_link);
      var label_field            = document.getElementById(label);
      var pact_file_field        = document.getElementById(pact_file);
      var file_field             = document.getElementById(file);
      var link_type_value        = document.getElementById(link_type).value;
      var pact_document_div      = document.getElementById('pact_document_div');

      if (link_type_value === "EXTERNAL")
      {
          label_field.innerHTML           = "URL";
          link_link_field.style.display   = "block";
          label_field.style.display       = "block";
          pact_file_field.style.display   = "none";
          pact_document_div.style.display = "none";
          file_field.style.display        = "none";
      }
      else if (link_type_value === "PACT")
      {
          label_field.innerHTML           = "";
          link_link_field.style.display   = "none";
          label_field.style.display       = "block";
          pact_document_div.style.display = "block";
          pact_file_field.style.display   = "block";
          file_field.style.display        = "none";
      }
      else if (link_type_value === "ATTACHMENT")
      {
          label_field.innerHTML           = "Attach File";
          link_link_field.style.display   = "none";
          label_field.style.display       = "block";
          pact_file_field.style.display   = "none";
          pact_document_div.style.display = "none";
          file_field.style.display        = "block";
      }
      else if (link_type_value === "")
      {
          label_field.innerHTML           = "";
          link_link_field.style.display   = "none";
          label_field.style.display       = "none";
          pact_file_field.style.display   = "none";
          pact_document_div.style.display = "none";
          file_field.style.display        = "none";
      }
  }

  function ajax_error(xhr, textStatus, errorThrown)
  {
    if (xhr.responseText &&
       (xhr.responseText !== ''))
    {
      var newDoc = document.open('text/html',
                                 "replace");

      newDoc.write(xhr.responseText);
      newDoc.close();
    }
    else
    {
      alert("Error Occured. " + textStatus + ": " +
            errorThrown);
    }
  }

  function set_pact_files(data)
  {
    $(pact_file_select).empty();

    for (var i = 0; i < data.length; i++)
      $(pact_file_select).append(`<option value="${data[i][1]}">${data[i][0]}</option>`);
  }

  function item_changed()
  {
    var item_id       = $(item_select).val();
    var url           = window.location.href;
    var reviews_index = url.indexOf('reviews/');

    url               = url.substring(0, reviews_index) + 'items/' + item_id + '/documents/get-pact-documents.json';

    $.ajax(
             {
               type:        "GET",
               url:         url,
               dataType:    'json',
               contentType: 'text/html',
               async:       false,
               error:       ajax_error,
               success:     set_pact_files
             }
           );
  }

  function pact_file_changed()
  {
      var link_description_field   = document.getElementById(link_description);
      var pact_file_field          = document.getElementById(pact_file);
      var label                    = pact_file_field.options[pact_file_field.selectedIndex].label;

      link_description_field.value = label;
  }

  $(document).ready(function() {
    link_type_changed();

    $(item_select).change(function()
    {
      item_changed();
    });

    $(pact_file_select).change(function()
    {
      pact_file_changed();
    });

    $(link_type_select).change(function()
    {
      link_type_changed();
    });
  });
</script>