<ul class="list-group">
  <li class="list-group-item active">
    <h5>
      <%= "#{t('reviews.single_title')}: #{@review_attachment.review.title}" %>
    </h5>
  </li>
  <li class="list-group-item">
    <p>
      <strong><%= t('review.attachment_type') %>:</strong>
      <%= Constants::ReviewAttachmentType_hash.key(@review_attachment.attachment_type) %>
    </p>
    
    <p>
      <strong><%= t('items.single_title') %>:</strong>
      <%= @review_attachment.item.name %>
    </p>
    
    <p>
      <strong><%= t('projects.single_title') %>:</strong>
      <%= @review_attachment.project.name %>
    </p>
    
    <p>
      <strong><%= t('user.single_title') %>:</strong>
      <%= @review_attachment.user %>
    </p>
    
    <p>
      <strong>File:</strong>
      <% if @review_attachment.link_type.present? %>
         <%= link_to ReviewAttachment.get_attachment_name(@review_attachment), ReviewAttachment.get_attachment_url(@review_attachment) + '?new_window=true', target: :_blank %>
      <% else %>
        <% description = revattach.link_description %>
      <% end %>
      <br>
      <strong>Uploaded At:</strong> <%= @review_attachment.upload_date %>
    </p>
  </li>
</ul>

<%= link_to 'Edit', edit_review_review_attachment_path(@review, @review_attachment), class: 'btn btn-default'  %>
<%= link_to 'New Review Attachment', new_review_review_attachment_path(@review), class: 'btn btn-default'  %>
<%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)', class: 'btn' %>

<% if @undo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Undo', @undo_path, class: 'btn btn-default', title: @undo_message %>
<% end %>

<% if @redo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Redo', @redo_path, class: 'btn btn-default', title: @redo_message %>
<% end %>

