<%= simple_form_for( [ @template, @template_document ], validate: true, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input      :document_id, label: 'Template Document ID', required: true %>
    <%= f.input      :title, label: 'Template Title', required: true %>

    <% if controller.action_name == 'edit' && params[:awc] && current_user.organization != 'global' %>
      <label class="control-label integer required" for="template_document_new_document_name" ><abbr title="required">*</abbr>New Template Title</label>
      <input class="form-control string required" type='text' id=template_document_new_document_name name='template_document[new_document_name]' required="required" aria-required="true" data-validate="true" value='<%= current_user.organization %> <%= @template_document.title %>'/>
    <% end %>

    <%= f.input      :description, as: :summernote %>
    <%= f.input      :source %>
    <%= f.input      :document_type %>
    <%= f.input      :document_class,                      collection: Constants::TemplateItemType, include_blank: true %>
    <%= f.input      :dal,      label: 'DAL',              collection: Constants::Template_Dals,    include_blank: true %>
    <%= f.input      :category, label: 'Control Category', collection: Constants::ControlCategory,  include_blank: true %>
    <%= f.input      :docid, label: 'Document ID' %>
    <%= f.input      :name, label: 'Document Name' %>
    <%= f.input      :revision, label: 'Document Revision' %>
    <%= f.input      :draft_revision, label: 'Document Draft Version' %>
    <%= f.file_field :file, required: true %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Download Current File: 
    <% if @template_document.file.attached? %>
      <%= link_to @template_document.file.filename, url_for(@template_document.file) %>
    <% end %>

    <%= f.input      :notes, as: :summernote %>
  </div>

  <div class="form-actions">
    <% if controller.action_name == 'new' %>
      <input id='update_template_document' name='update_template_document' value='Create Template Document' type="button" onclick='validate();' class="btn btn-default" />
    <% else %>
      <input id='update_template_document' name='update_template_document' value='Update Template Document' type="button" onclick='validate();' class="btn btn-default" />
    <% end %>

    <% if template_document.id.present? %>
      <%=
          link_to 'Show',
                  template_template_document_path(@template,
                                                   template_document,
                                                   awc: params[:awc]),
                  class: 'btn btn-default'
        %>
    <% end %>

    <%=
        link_to 'New Template Document',
                new_template_template_document_path(@template,
                                                    @template_document,
                                                    awc: params[:awc]),
                class: "btn btn-primary"
    %>

    <% if @template_document.id.present? %>
      <%=
          link_to 'Duplicate Template Document',
                  template_template_document_duplicate_path(@template,
                                                            @template_document,
                                                            awc: params[:awc]),
                  class: "btn btn-primary"
      %>
    <% end %>

    <%= link_to 'Back', 'javascript:null', class: "btn", onclick: 'validateBack(1)' %>

    <% if @undo_path.present? && !session[:archives_visible].present? %>
      <%= link_to 'Undo', @undo_path, class: 'btn btn-default', title: @undo_message %>
    <% end %>

    <% if @redo_path.present? && !session[:archives_visible].present? %>
      <%= link_to 'Redo', @redo_path, class: 'btn btn-default', title: @redo_message %>
    <% end %>
  </div>
<% end %>
<script>
  $(":input").keydown(function (event) {
      if (event.keyCode == 112)
        validate();
      else if (event.keyCode == 113)
        window.location.assign(window.location.href.replace(/\/\d+\/edit$/, ''));
  }); 

  function validate()
  {
    var form                 = document.forms[0];
    var okay                 = validateForm();
    var messageText          = "";

    if (!okay)
      return(false);

    if (okay)
    {
      form.submit();
    }
    else
    {
      alert(messageText);
    }

    return(okay);
  }
</script>