<%= simple_form_for( [@project, @archive], html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <input name='message' id='message' type='hidden' style='color: #FF0000' readonly />

  <div class="form-inputs">
    <%= f.input :name, required: true %>
    <%= f.input :full_id, label: 'Archive ID', required: true %>
    <%= f.input :description %>
    <%= f.input :pact_version, :input_html => { :readonly => !current_user.fulladmin }  %>
    <%= f.input :revision %>
    <%= f.input :version, label: 'Draft Version' %>
    <%= f.input :archived_at, as: :datetime, html5: true, :input_html => { :readonly => true } %>
  </div>

  <div class="form-actions">
    <% if controller.action_name == 'edit' %>
      <input id='update_archive' name='update_archive' value='Update Archive' type="button" onclick='validate();' class="btn btn-default" />
    <% else %>
      <input id='update_archive' name='update_archive' value='Create Archive' type="button" onclick='validate();' class="btn btn-default" />
    <% end %>

    <% if @archive.id.present? %>
      <%= link_to 'Show', project_archive_path(@project, @archive), class: 'btn' %>
    <% end %>

    <%= link_to 'Back', 'javascript:null', class: "btn", onclick: 'validateBack(1)' %>

    <% if @undo_path.present? && !session[:archives_visible].present? %>
      <%= link_to 'Undo', @undo_path, class: 'btn', title: @undo_message %>
    <% end %>

    <% if @redo_path.present? && !session[:archives_visible].present? %>
      <%= link_to 'Redo', @redo_path, class: 'btn', title: @redo_message %>
    <% end %>

    <% if controller.action_name == 'edit' && current_user.fulladmin %>
      <%= link_to 'Unarchive', project_archive_unarchive_path(@project, @archive), class: 'btn' %>
    <% end %>
  </div>
<% end %>
<script>
  var model         = "archive";
  var table         = model  + 's';
  var prefix        = model  + "_";
  var parent        = "project";
  var parent_table  = parent + 's';
  var parent_prefix = parent + "_";
  var name_field    = "name";
  var id_field      = "full_id";

  $(":input").keydown(function (event) {
      if (event.keyCode == 112)
        validate();
      else if (event.keyCode == 113)
        window.location.assign(window.location.href.replace(/\/\d+\/edit$/, ''));
  }); 

  function validate()
  {
    var nameValue   = document.getElementById(prefix + name_field).value;
    var idValue     = document.getElementById(prefix + id_field).value;
    var form        = document.forms[0];
    var okay        = true;
    var messageText = "";

    if (nameValue === '')
    {
      messageText   = "You must provide an Archive name.";
      okay          = false;
    }
    else if (idValue === '')
    {
      messageText   = "You must provide an Archive ID.";
      okay          = false;
    }

    if (okay)
    {
      form.submit();
    }
    else
    {
      message.value          = messageText;
      message.style.display  = "none";

      alert(messageText);
    }

    return(okay);
  }
</script>
