
<ul class="list-group">
  <li class="list-group-item active">
    <h5>Archive: <%= @archive.name %></h5>
  </li>
  <li class="list-group-item">
    <h6><u>Details:</u></h6>
    <p>
      <strong>Full ID:</strong>
      <%= @archive.full_id %><br>
      <strong>Description:</strong>
      <%= @archive.description %><br>
      <strong>Revision:</strong>
      <%= @archive.revision %><br>
      <strong>Draft Version:</strong>
      <%= @archive.version %><br>
      <strong>PACT Version:</strong>
      <%= @archive.pact_version %><br>

      <% if @archive.project_id.present? %>
        <% project = Project.find(@archive.project_id) %>
        <strong>Project:</strong>
        <%= project.name %> (<%= project.identifier %>)<br>
      <% end %>

      <strong>Archived At:</strong>
      <%= @archive.archived_at %>
    </p>
  </li>
</ul>

<br>
<%= link_to 'Edit',         edit_project_archive_path(@project, @archive),  class: 'btn btn-default' %>
<%= link_to 'View Archive', project_archive_view_path(@project, @archive),  class: 'btn btn-default' %>
<%= link_to 'New Archive',  new_project_archive_path(@project),             class: "btn btn-primary", style: "color:white" %>
<%= link_to 'Back',         go_back_path(1),  onclick: 'validateBack(1, this)',                                class: 'btn btn-default' %>

<% if @undo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Undo', @undo_path, class: 'btn btn-default', title: @undo_message %>
<% end %>

<% if @redo_path.present? && !session[:archives_visible].present? %>
  <%= link_to 'Redo', @redo_path, class: 'btn btn-default', title: @redo_message %>
<% end %>
