<%= simple_form_for(@code_checkmark_hit) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :code_checkmark %>
    <%= f.input :hit_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
