<%= simple_form_for( [@document_comment.document, @document_comment], validate: true, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <% if @document_comment.present? && @document_comment.errors.present? && @document_comment.errors.messages.present? %>
    <% @document_comment.errors.messages.each do |field, messages| %>
      <h4 style="color: red;">
        <%= field.to_s.titleize %>:
        <% messages.each do |message| %>
          <%= message %>&nbsp;
        <% end %>
        <br>
      </h4>
    <% end %>
  <% end %>

  <div class="list-group-item active">
    <h5>Document: <%= @document_comment.document.name %></h5>
  </div>

  <div class="form-inputs">
    <%= f.input :commentid, required: true, label: t('document_comments.document_comment_id'), :input_html => { :disabled => @read_only } %>

    <% if @document_comment.requestedby.present? %>
      <%=
          f.input :requestedby,
                  label:        'Opened By',
                  collection:    User.organization_or_role(current_user.organization,
                                                           'AirWorthinessCert Member'),
                  label_method: :fullname,
                  value_method: :email,
                  selected:      @document_comment.requestedby,
                  input_html:   { :disabled => @read_only } 
       %>
    <% else %>
      <%=
          f.input :requestedby,
                  label:        'Opened By',
                  collection:    User.organization_or_role(current_user.organization,
                                                           'AirWorthinessCert Member'),
                  label_method: :fullname,
                  value_method: :email,
                  selected:     @current_user.email,
                  input_html:   { :disabled => @read_only } 
       %>
    <% end %>

    <% if @document_comment.assignedto.present? %>
      <%=
          f.input :assignedto,
                  label:        'Assigned To',
                  collection:    User.organization_or_role(current_user.organization,
                                                           'AirWorthinessCert Member'),
                  label_method: :fullname,
                  value_method: :email,
                  selected:      @document_comment.assignedto,
                  input_html:   { :disabled => @read_only } 
       %>
    <% else %>
      <%=
          f.input :assignedto,
                  label:        'Assigned To',
                  collection:    User.organization_or_role(current_user.organization,
                                                           'AirWorthinessCert Member'),
                  label_method: :fullname,
                  value_method: :email,
                  selected:     @current_user.email,
                  input_html:   { :disabled => @read_only } 
       %>
    <% end %>

    <%= f.input :status, collection: Constants::Document_Status, include_blank: false, :input_html => { :disabled => @read_only }  %>
    <%= f.input :docrevision, label: 'Change Made In Document Revision', :input_html => { :disabled => @read_only } %>
    <%= f.input :draft_revision, label: 'Draft Version', :input_html => { :disabled => @read_only } %>
    <%= f.input :comment, required: true, as: :summernote, :input_html => { :disabled => @read_only, :contenteditable => !@read_only }  %>

    <% if current_user.fulladmin && @document_comment.item_id.present? %>
      <%= f.association :document, collection: Document.where(item_id: @document_comment.item_id) %>
    <% end %>
  </div>

  <div class="form-actions">
    <% if controller.action_name == 'new' %>
      <input id='update_document_comment' name='update_document_comment' value='Create Document Comment' type="button" onclick='validate();' class="btn btn-default" />
    <% else %>
      <input id='update_document_comment' name='update_document_comment' value='Update Document Comment' type="button" onclick='validate();' class="btn btn-default" />
    <% end %>

    <% if @document_comment.id.present? %>
      <%= link_to 'Show', document_document_comment_path(@document, @document_comment), class: 'btn btn-default'  %>
    <% end %>

    <%= link_to 'Back', 'javascript:null', class: "btn", onclick: 'validateBack(1)' %>
  </div>
<% end %>

<script>
  if ('<%= @read_only %>' == 'true')
    $('#document_comment_comment').summernote('disable');

  $(":input").keydown(function (event) {
      if (event.keyCode == 112)
        validate();
      else if (event.keyCode == 113)
        window.location.assign(window.location.href.replace(/\/\d+\/edit$/, ''));
  }); 

  function validate()
  {
    var form                 = document.forms[0];
    var okay                 = validateForm();
    var messageText          = "";

    if (!okay)
      return(false);

    if (okay)
    {
      form.submit();
    }
    else
    {
      alert(messageText);
    }

    return(okay);
  }
</script>